[build-system]
requires = ['setuptools>=40.8.0', 'setuptools_scm[toml]>=6.2', 'wheel']
build-backend = 'setuptools.build_meta:__legacy__'

[project]
name = 'topobank'
dynamic = ['version']

[tool.setuptools_scm]
