{% load static %}

<div id="openseadragon1" class="zoom-view"></div>
<script src={% static "js/openseadragon.min.js" %}></script>
<script src={% static "js/openseadragon-scalebar.js" %}></script>
<script type="text/javascript">
  viewer = new OpenSeadragon.Viewer({
    id: "openseadragon1",
    prefixUrl: "{% url 'manager:topography-dzi' pk=topography.id dzi_filename='' %}",
    tileSources: [
      "{% url 'manager:topography-dzi' pk=topography.id dzi_filename='dzi.xml' %}"
    ],
    showNavigator: true,
    navigatorPosition: 'TOP_LEFT',
    navigatorSizeRatio: 0.1,
    showNavigationControl: false,
    wrapHorizontal: false,
    wrapVertical: false,
    minZoomImageRatio: 0.5,
    maxZoomPixelRatio: 5.0,
  });
  viewer.scalebar({
    type: OpenSeadragon.ScalebarType.MICROSCOPY,
    pixelsPerMeter: {{ dzi_pixels_per_meter }},
    minWidth: "75px",
    location: OpenSeadragon.ScalebarLocation.BOTTOM_LEFT,
    xOffset: 10,
    yOffset: 10,
    stayInsideImage: true,
    color: "black",
    fontColor: "black",
    backgroundColor: "rgba(255, 255, 255, 0.5)",
    fontSize: "small",
    barThickness: 2
  });
</script>
<div class="zoom-colorbar-container">
  <div class="zoom-colorbar-title">
    {{ dzi_colorbar_title }}
  </div>
  <div class="zoom-colorbar background-viridis">
    {% for colorbar_tick in dzi_colorbar_ticks %}
      <div class="zoom-colorbar-tick" style="top: {{ colorbar_tick.0 }};"></div>
    {% endfor %}
  </div>
  <div class="zoom-colorbar" style="width: 80px;">
    {% for colorbar_tick in dzi_colorbar_ticks %}
      <div class="zoom-colorbar-text" style="top: {{ colorbar_tick.0 }};">{{ colorbar_tick.1 }}</div>
    {% endfor %}
  </div>
</div>
