<ul class="nav nav-tabs">
  {% for tab in tabs %}
    <li class="nav-item">
      <a class="nav-link {% if tab.active %}active{% endif %}" href="{% if tab.href %}{{ tab.href }}{% else %}{{ request.path }}{% endif %}">
        <i class="fa fa-fw fa-{{ tab.icon}}"></i> {{ tab.title|truncatechars:50 }}
        {% if not forloop.last and forloop.counter >= min_num_tabs %}
          {# we only want the double angle for all tabs which could be the last but or not #}
          <i class="fa fa-angle-double-right"></i>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  {% if error %}
    <li class="nav-item">
      <a class="nav-link active">
        <i class="fa fa-fw fa-flash"></i> Error
      </a>
    </li>
  {% endif %}
</ul>
