{% load icon_tags %}

<ul role="tablist" class="nav nav-tabs lined-tabs flex-column flex-sm-row bg-light w-100 shadow">
  {% for tab in tabs %}
    <li class="nav-item" title="{{ tab.tooltip }}">
      <a class="nav-link {% if tab.active %}active{% endif %}" href="{% if tab.href %}{{ tab.href }}{% else %}{{ request.path }}{% endif %}">
        <i class="{{ tab.icon_style_prefix|default:"fas" }} fa-{{ tab.icon}}"></i> {{ tab.title|truncatechars:50 }}
        {% if not forloop.last and forloop.counter >= min_num_tabs %}
          {# we only want the double angle for all tabs which could be the last but are not #}
        {% fa5_icon 'angle-double-right' %}
        {% endif %}
      </a>
    </li>
  {% endfor %}
  {% if error %}
    <li class="nav-item">
      <a class="nav-link active">
        {% fa5_icon 'bolt' %} Error
      </a>
    </li>
  {% endif %}
</ul>

{% if active_tab.show_basket %}
    {# display selected items in session #}
    <div id="basket-container" class="container-fluid bg-light shadow border-bottom py-2">
      <div id="basket">
        <div v-if="keys.length">
          <basket-element v-for="key in keys" v-bind:elem="get_element(key)" v-bind:key="key"></basket-element>
          <a class="btn btn-sm btn-outline-success" href="{% url 'analysis:list' %}">
            {% fa5_icon 'chart-area' %} Analyze
          </a>
          <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions on current selection">
            <button class="btn btn-sm btn-outline-secondary" v-on:click="unselect_all" id="unselect-all">
              {% fa5_icon 'times' %} Clear selection
            </button>
            <a class="btn btn-sm btn-outline-secondary"
               href="{% url 'manager:download-selection' %}"
               type="button"
               id="download-selection">
              {% fa5_icon 'download' %} Download surfaces
            </a>
          </div>
        </div>
        <div class="m-1" v-else>No items selected yet. In order to select, please use the checkboxes on the
          <a class="text-dark" href="{% url 'manager:select' %}">{% fa5_icon 'check-square' 'far' %} Find & Select</a> tab.
        </div>
      </div>
    </div>
{% endif %}

