<h1>Basic Usage</h1>

Here are a few workflows which should help you to get started with this web application.
If you are missing a description here, please send a an <a href="mailto:{{ contact_email_address }}">email</a>.
Thank you.

<hr>

<h2>Uploading new data</h2>

<ol>
  <li>Visit the <b><i class="fa fa-fw fa-check-square-o"></i>Select</b> tab.</li>
  <li>If you want to add a topography to an existing surface, press its "Properties" button.
  Otherwise press the "Create surface" button and fill out the form, press "Save".</li>
  <li>The detail page for the surface opens. Press "Add topography" and follow the dialogue.</li>
</ol>

<hr>

<h2>Analyzing surfaces and topographies</h2>


<h3>Comparing analysis results from multiple surfaces/topographies</h3>
<ol>
  <li>First visit the <b><i class="fa fa-fw fa-check-square-o"></i>Select</b> tab, and use the checkboxes
  to select one or more surface and/or topographies. You can see the topographies by clicking on the small triangle
   on the left-hand side of a surface's name. The selected items appear in the bar underneath the
  top navigation bar, which always shows the <em>current selection</em>.</li>
  <li>Switch to the <b><i class="fa fa-fw fa-area-chart"></i>Analyze</b> tab.</li>
  <li>Select one or more Analysis function by clicking on their checkboxes, e.g. choose <em>Height Distribution</em>
  and <em>Power Spectrum</em>.</li>
  <li>Press the button "Update results".</li>
  <li>For each analysis function a card is shown. You can use the toolbar at the plot to zoom/pan etc. or
  download the plot. Some analysis plots may provide additional feature's. They are accessible
  by pressing the "Open" button. Then a new tab opens showing only results for the related analysis function.</li>
</ol>


<h3>Showing analysis results for a single surface or topography</h3>

If you want to analyze a single surface or topography, there are also alternative ways:

<ol>
  <li>First visit the <b><i class="fa fa-fw fa-check-square-o"></i>Select</b> tab, and
  find the topography you are interested in. Press the "Analyze" button.
  Then automatically, this surface is selected with all of its topographies and
  the "Analyze" tab is loaded.</li>
  <li>If you want to analyze a single topography, you can also enter the surface by pressing "Properties",
  then in the bandwidth plot, press the bar with the corresponding topography, and when
  the detail page for the topography opens, press "Analyze this topography".
  The old selection is then replaced by this topography, and the  <b><i class="fa fa-fw fa-area-chart"></i>Analyze</b>
  tab opens.</li>
</ol>



