{% extends "base.html" %}
{% load static i18n %}
{% load socialaccount %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to <b>TopoBank</b>!</h1>
        <p>This is an application for organizing surfaces and related topography measurements. You can perform
        various analyses and compare the results.</p>
        {#  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> #}
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-md-4">
          <h2>Surfaces</h2>
          <p>A <em>Surface</em> represents a physical surface together with some metadata. Each surface
          can be measured several times. These measurements are the <em>topographies</em>.</p>
          <p><a class="btn btn-secondary" href="{% url 'manager:surface-create' %}" role="button">Create a surface &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Topographies</h2>
          <p>For each surface you can upload one or more topographies, specify meta data for them
            or run pre-defined analyses on them.</p>
          <p><a class="btn btn-secondary" href="{% url 'manager:surface-list' %}" role="button">Select topographies &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Analyses</h2>
          <p>All analyses are stored, can be retriggered or compared.
          Pre-defined analyis functions available.</p>
          <p><a class="btn btn-secondary" href="{% url 'analysis:list' %}" role="button">Show analyses &raquo;</a></p>
        </div>
        {% else %}
        <div class="col-md-12">
          <h2>Login via ORCID.</h2>
          <p>
            Please allow the ORCID site to authenticate yourself to TopoBank.
            If you don't have an ORCID account yet, you will be able to register.
          </p>
          <p>
            <a id="orcid-log-in-link" class="btn btn-secondary" href="{% provider_login_url 'orcid' method="oauth2" %}">
              Sign in using your ORCID account
            </a>
          </p>
        </div>
        {% endif %}
      </div>
    </div> <!-- /container -->




{% endblock %}
