<!DOCTYPE html>
{% load static i18n %}
{% load fontawesome %}
{% load socialaccount %}
{% load terms_tags %}
{% load navbar_tags %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TopoBank - Topography Storage and Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/plottable/css/plottable.css' %}" rel="stylesheet">

    <!-- CSS from sb-admin-2-bs4 template -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    {% fontawesome_stylesheet %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}

</head>

<body id="page-top">

    <!-- jquery must be loaded early, e.g. because of datepicker -->
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>

    <nav class="navbar navbar-expand navbar-light bg-light static-top">

      <!-- Navbar -->

      {# Show user where we are #}

      <ol class="navbar-nav">
        <li class="breadcrumb-item">
          <a class="" href="{% url 'home' %}">
            <i class="fa fa-fw fa-database"></i>
          </a>
        </li>
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
      </ol>

      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link {% navbar_active request.path 'Surfaces' %}"
                 href="{% url 'manager:surface-list' %}">
                <i class="fa fa-fw fa-diamond"></i>
                <span>Surfaces</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% navbar_active request.path 'Analyses' %}"
               href="{% url 'analysis:list' %}">
              <i class="fa fa-fw fa-area-chart"></i>
              <span>Analyses</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% navbar_active request.path 'Sharing' %}"
               href="{% url 'manager:sharing-info' %}">
              <i class="fa fa-fw fa-share-alt"></i>
              <span>Sharing</span>
            </a>
          </li>
        {% endif %} {# if user is authenticated #}

        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-info-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right help-dropdown" aria-labelledby="helpDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#versionModal">Version Information</a>
            <a class="dropdown-item" href="{% url 'terms' %}">Terms &amp; Conditions</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
          </div>
        </li>

        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle fa-fw"></i>
            {% if request.user.is_authenticated %}
              {{ request.user.name }}
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'users:detail' request.user.username %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
            <!-- a class="dropdown-item" href="#"><i class="fa fa-cog fa-fw"></i> Settings<a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fa fa-sign-out fa-fw"></i>Sign Out</a>
            {% else %}
            <a class="dropdown-item" href="{% provider_login_url 'orcid' method="oauth2" %}">Sign in via ORCID</a>
            {% endif %}
          </div>
        </li>
      </ul>

    </nav>

    {% block searchbox %}{% endblock searchbox %}

    <div id="wrapper">
      <div id="content-wrapper">

        <div class="container-fluid">

          {# Places Messages #}
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
          {% endif %}

          {# Insert actual content, see other templates #}
          {% block content %}
          {% endblock content %}

        </div>
        <!-- /#container-fluid -->
      </div>

      {# Check for terms and conditions, show a pop up if there are changes #}
      {# show_terms_if_not_agreed #} {# <- enable by replacing # with % #}
      {# Note that the user can close the modal and it is reopened every new view #}

      <!-- /#content-wrapper -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <a href="http://www.imtek.uni-freiburg.de/laboratories/simulation" target="_blank">
              <img src="{% static 'images/uni_freiburg_logo.png' %}" height="64px"></img>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://physics-astronomy.jhu.edu/directory/mark-o-robbins/" target="_blank">
              <img src="{% static 'images/jhu_logo.png' %}" height="64px"></img>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.engineering.pitt.edu/TevisJacobs/" target="_blank">
              <img src="{% static 'images/pitt_logo.png' %}" height="64px"></img>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Funded as part of an
            <a href="https://cordis.europa.eu/project/rcn/212185_en.html" target="_blank">
              <img src="{% static 'images/erc_logo.png' %}" height="64px"></img>
            </a>
            project.
          </div>
        </div>
      </footer>
    </div>
    <!-- /#page-wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Sign Out" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Version Modal-->
    <div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="versionModalLabel">Version Information</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Module</th>
                  <th>Version</th> {#  Maybe also add links? #}
                  <th>Links</th>
                </tr>
              </thead>
              <tbody>
                {% for v in versions %}
                  <tr>
                    <td>{{ v.module }}</td>
                    <td>{{ v.version }}</td>
                    <td>
                      {% for name,href in v.links.items %}
                        <a href="{{ href }}">{{ name }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Modal-->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactModalLabel">Contact</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Is TopoBank helpful for your research?</p>
            <p>We would like to hear from you. Please contact us, if you have any comments, suggestions, or bug reports!</p>
            <p>
              <ul>
               <li>Drop us an <a href="mailto:topobank@imtek.uni-freiburg.de">email</a> or</li>
               <li>open an <a href="https://github.com/pastewka/TopoBank/issues">issue on GitHub</a>.</li>
              </ul>
            </p>
            <p>Thank you! The TopoBank development team.</p>
            <p translate="no">
              <em>
              <a href="https://www.imtek.de/laboratories/simulation">Simulation Group</a><br>
              Department of Microsystems Engineering (IMTEK)<br>
              University of Freiburg<br>
              Georges-Koehler-Allee 103<br>
              79110 Freiburg<br>
              Germany<br>
              </em>
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Core JavaScript packages -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.1.3.js' %}"></script>

    <!-- Unit conversion --->
    <script src="{% static 'vendor/convert-units/convert-units.js' %}"></script>

    <!-- D3 and Plottable -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'vendor/plottable/js/plottable.js' %}"></script>

    <!-- Scripts from sb-admin-2-bs4 -->
    <script src="{% static 'js/sb-admin.js' %}"></script>{# TODO is this still neded, layout changed signicantly #}
    <!-- sb-admin.js is without metismenu, sb-admin-2.js needs metismenu (and maybe an additional
    pointer to .nav-link, see
      https://github.com/onokumus/metisMenu#triggerelement
    -->

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/project.js' %}"></script>

    {% block javascript %}{% endblock javascript %}

</body>

</html>
