<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'home' %}active{% endif %}" href="{% url 'home' %}">
      <i class="fa fa-fw fa-home"></i>
    </a>
  </li>
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'shared' %}active{% endif %}" href="{% url 'manager:sharing-info' %}">
        <i class="fa fa-fw fa-share-alt"></i>
      </a>
   </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'select' %}active{% endif %}" href="{% url 'manager:select' %}">
        <i class="fa fa-fw fa-check-square-o"></i> Select
      </a>
    </li>
  {% endif %}
  {% for tab in extra_tabs %}
    <li class="nav-item">
      <a class="nav-link {% if tab.active %}active{% endif %}" href="{% if tab.href %}{{ tab.href }}{% else %}{{ request.path }}{% endif %}">
        <i class="fa fa-fw {{ tab.icon}}"></i> {{ tab.title|truncatechars:50 }}
      </a>
    </li>
  {% endfor %}

</ul>
