#
# COPY THIS FILE TO .envs/.local/.django AND REPLACE MISSING INFORMATION BELOW!
#

# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
DJANGO_SETTINGS_MODULE=config.settings.local
# settings seem to be local implicitly, but let's be explicit here

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
# without quotes!
CELERY_RESULT_BACKEND=cache+memcached://memcached:11211/
# Note: RabbitMQ and Memcached are running in separate containers having host names 'rabbitmq' and 'memcached'

# Flower
CELERY_FLOWER_USER=xAXMqXVfQBcbOFQyhhRpzwRCIeFswANE
CELERY_FLOWER_PASSWORD=EI7zTd27VUZ2NdqGs5iQxINipsphB6SxUOwxWQXpcJ2OuoeE1JxxTs2bfamSrk8W

# ORCID authentication
# ------------------------------------------------------------------------------
ORCID_CLIENT_ID=<replace with your client ID from ORCID>
ORCID_SECRET=<replace with your secret from ORCID>
