
{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}

   <div class="tab-content p-2 extra-tab">
     <h3>
       {% fontawesome_icon 'trash' %}
       Are you sure?
     </h3>

     <div class="alert alert-warning" role="alert">
       Do you really want to delete instrument <em>{{ instrument.name }}</em>?
       {% if num_topographies > 0 %}
       In total {{ num_topographies }} instrument{{ num_topographies|pluralize }}
       {% if num_topographies > 1 %}are{% else %}is{% endif %} referencing this instrument.
       After deletion, {% if num_topographies > 1 %}these{% else %}it{% endif %} will have no instrument assigned any more.
       {% else %}
         Currently this instrument isn't used by any measurement.
       {% endif %}
     </div>
     <form method="post">
       {%  csrf_token %}
       <button class="btn btn-danger" type="submit">Yes, delete</button>
       <a href="{% url 'manager:instrument-detail' instrument.id %}" class="btn btn-default" type="button">Cancel</a>
     </form>
   </div>

{% endblock content %}
