{% extends 'base.html' %}
{% load icon_tags %}
{% load surface_tags %}
{% load guardian_tags %}
{% load static i18n %}

{% block content %}

{# full text search in names, descriptions, tags #}

<div class="tab-content mt-2">
  <div class="tab-pane active">
    <div id="search-results"></div>
  </div>
</div>

{% endblock content %}

{% block javascript %}

{# Some JSON code to define JS variables from Django context #}
{{ category_filter_choices | json_script:"category-filter-choices" }}
{{ sharing_status_filter_choices | json_script:"sharing-status-filter-choices" }}
{{ select_tab_state | json_script:"initial-select-tab-state" }}
{{ base_urls | json_script:"base-urls" }}

<script>
  function item_button_link_attributes(urls, urlname) {
    let attr = "";
    if (urls.hasOwnProperty(urlname)) {
      attr = `href="${urls[urlname]}"`;
    } else {
      attr = "href='#' disabled";
    }
    return attr;
  }

  function item_buttons(urls) {
    // urls: object with url names as keys and urls as values
    //
    // Use this function to compile buttons for surfaces and topographies in the result table
    // Returns buttons as HTML.
    let result = "";
    if (urls.hasOwnProperty('detail')) {
      result += `
                <a href="${urls['detail']}" class="btn btn-default" type="button">
                    View
                </a>
              `
    }
    if (urls.hasOwnProperty('analyze')) {
      result += `
                <a href="${urls['analyze']}" class="btn btn-default" type="button">
                    Analyze
                </a>
              `
    }
    if (urls.hasOwnProperty('download')) {
      result += `
                <a href="${urls['download']}" class="btn btn-default" type="button">
                    Download
                </a>
              `
    }
    return result;
  }

  // Pass some data from Django context to Javascript
  const category_filter_choices = JSON.parse(document.getElementById('category-filter-choices').textContent);
  const sharing_status_filter_choices = JSON.parse(document.getElementById('sharing-status-filter-choices').textContent);
  const base_urls = JSON.parse(document.getElementById('base-urls').textContent);
  const initial_select_tab_state = JSON.parse(document.getElementById('initial-select-tab-state').textContent);

  topobank.base.createSearchResultsApp(
    '#search-results', {
      base_urls: base_urls,
      category: initial_select_tab_state.category,
      category_filter_choices: category_filter_choices,
      csrf_token: '{{ csrf_token }}',
      current_page: initial_select_tab_state.current_page,
      is_anonymous: {{ request.user.is_anonymous|yesno:'true,false' }},
      initialSelection: {{ basket_items_json | safe }},
      page_size: initial_select_tab_state.page_size,
      search_term: initial_select_tab_state.search_term,
      sharing_status: initial_select_tab_state.sharing_status,
      sharing_status_filter_choices: sharing_status_filter_choices,
      surface_create_url: "{% url 'manager:surface-create' %}",
      tree_mode: initial_select_tab_state.tree_mode
    }
  );
</script>

{% endblock javascript %}
