{% extends 'base.html' %}
{% load icon_tags %}
{% load render_table from django_tables2 %}


{% block content %}

 <div class="tab-content mt-4">
   <div class="tab-pane active">
     <h2>Surfaces shared with you or by you</h2>
     <div class="mt-4">
      <form method="post">
        {% csrf_token %}
        {% render_table sharing_info_table %}
        <div class="float-right">
          <button class="btn btn-danger" type="submit" name="unshare">Remove selected shares</button>
          <button class="btn btn-default" type="submit" name="allow_change">Allow change for selected shares</button>
          <button class="btn btn-primary" onclick="location.reload(true)" formmethod="get">Reload</button>
        </div>
      </form>
     </div>
   </div>
 </div>
{% endblock content %}

{% block javascript %}
  <script>
    $('.select-all-checkbox').click( function() {
      $('.select-checkbox').click();
    })
  </script>
{% endblock javascript %}

