{% load fullurl %}
{# Need 'publication_url' in context #}
{% load citation_tags %}
{% load fontawesome %}

<h2>How to cite this surface?</h2>

<p>
Here are suggestions for some citation formats. Please click on
a format name in order to expand. If you need another format, please
  open an <a href="https://github.com/ComputationalMechanics/TopoBank/issues" target="_blank">issue on GitHub</a>.
</p>
<div id="accordion">

  {% for flavor_title, flavor, use_code in citation_flavors %}
  <div class="card border-dark mt-2">
    <div class="card-header bg-dark text-white">
      <btn class="btn {% if not forloop.first %}collapsed{% endif %}"
           data-toggle="collapse" data-target="#card-body-{{ flavor }}"
           aria-expanded="{{ forloop.first|yesno:'true,false' }}"
           aria-controls="card-body-{{ flavor }}">
        <h3 class="float-left">{{ flavor_title}}</h3>
      </btn>
    </div>
    <div id="card-body-{{ flavor }}" class="collapse {% if forloop.first %}show{% endif %} text-dark"
         data-parent="#accordion">
      <button class="btn btn-secondary clipboard-btn float-right"
              type="button"
              aria-label="Copy to clipboard"
              data-clipboard-target="#citation-{{ flavor }}-format"
              title="Copy to clipboard">
        {% fontawesome_icon 'clipboard' %} Copy
      </button>
      <div id="citation-{{ flavor }}-format" class="card-body">
        {% if use_code %}<pre><code>{% endif %}{% citation surface.publication flavor request %}{% if use_code %}</code></pre>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
