
{% extends 'base.html' %}
{% load fontawesome %}
{% load crispy_forms_tags %}
{% load surface_tags %}
{% load guardian_tags %}

{% block extra_css %}

  {# gijgo: for having a searchable tree #}


  <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css">

  {# vuejs for interactivity #}
  {# TODO move script tag to end? #}
  <script src="https://unpkg.com/vue@latest"></script>
  <script src="https://unpkg.com/vue-select@latest"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
  {{ form.media.css }}
{% endblock extra_css %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">
    Surfaces
  </li>
{% endblock breadcrumbs %}

{% block searchbox %}

  <!--

  <div class="bg-light border-top border-bottom">
    <div class="container-fluid">
      {% crispy form form.helper %}
    </div>
  </div>
  -->

  <h2>Selected items</h2>
  <div id="basket">
    <basket-element v-for="x in items" v-bind:item="x" v-bind:key="x.key"></basket-element>
  </div>


{% endblock searchbox %}

{% block content %}



  {# search box #}
  {# full text search in names, descriptions, labels #}
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search.." aria-label="Search">
  </div>

  {# search result as list #}

  <div id="tree"></div>



  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>


   <!--
  Show one card for each selected surface

  Will be replaced by AJAX call.
  -->
  <div class="row">
    {% for surface in surfaces %}
      <div class="col-xl-4 mb-4">
        <div id="card-{{ surface.id }}">
          <div class="card">
            <div class="card-header">
              <h5>{{ surface.name }}</h5>
            </div>
            <div class="card-body">
              <p>Please wait..</p>
              <div class="spinner"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block javascript %}
  {{ form.media.js }}

  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>

  <script>
  var search_result = {
         debug: true,
         state: {
          items: []
         },
         add_item (item) {
          if (this.debug) console.log('adding item ', item);
          this.state.items.push(item);
         },
         remove_item (item) {
          if (this.debug) console.log('remove item ', item);
          var index = this.state.items.indexOf(item);
          if (index > -1) {
            this.state.items.splice(index, 1);
           }
         }
        };

  // store.state.items = JSON.parse('{{ selected_json | safe }}');


  var tree = $('#tree').tree({
      uiLibrary: 'bootstrap4',
      primaryKey: 'pk',
      textField: 'name',
      childrenField: 'topographies',
      checkboxes: true,
      checkedField: 'is_selected',
      cascadeCheck: true, // enable cascade check and uncheck of children
      dataSource: "{% url 'manager:surface-search' %}",
      // imageUrlField: 'flagUrl'
      // TODO add filters to REST call
  });

  tree.on('checkboxChange', function (e, $node, record, state) {
     // console.log('Node '+ $node +': The new state of record ' + record.name + '(pk' + record.pk +' ) ' + ' is *' + state+'*');

     if (state == 'checked') {

         $.ajax({
             type: "POST",
             url: record.select_url,
             data: {
                csrfmiddlewaretoken: "{{csrf_token}}"
             },
             success : function(data, textStatus, xhr){
                 // TODO make selection visible
                 // console.log("Selected! "+textStatus);

             },
             error: function(xhr, textStatus, errorThrown) {
                 console.error("Could not select: " + errorThrown + " " + xhr.status + " " +xhr.responseText);
             }
         });

     } else if (state == 'unchecked') {

         $.ajax({
             type: "POST",
             url: record.unselect_url,
             data: {
                csrfmiddlewaretoken: "{{csrf_token}}"
             },
             success : function(data, textStatus, xhr){
                 // TODO make selection invisible
                 // console.log("Unselected! "+textStatus);
             },
             error: function(xhr, textStatus, errorThrown) {
                 console.error("Could not unselect: " + errorThrown + " " + xhr.status + " " +xhr.responseText);
             }
         });

     }
     set_basket_items();
  });

  /**
   *  Using vue component for displaying selected items
   */

   Vue.component('basket-element', {
        props: ['item'],
        delimiters: ['[[', ']]'],
        template: `
         <span v-if="item.key.startsWith('surface')" class="badge badge-primary mr-1" v-on:click="handle_click">[[ item.name ]]</span>
         <span v-else class="badge badge-secondary mr-1" v-on:click="handle_click">[[ item.name ]]</span>
         `,
        methods: {
          handle_click: function (item) {
            tree.uncheck(item); // TODO pass node here
          },
          is_surface: function (item) {
              console.log("is_surface? "+item);
              return item.key.startsWith("surface");
          }
        }
   });

  var basket = new Vue({
          delimiters: ['[[', ']]'],
          el: '#basket',
          data: {
              items: [],
          }
  });

  function set_basket_items() {
      basket.items = [];
      tree.getCheckedNodes().forEach( function(id) {
            var item = window.tree.getDataById(id);

            // only push topography item if surface is not
            // included
            if (~item.hasOwnProperty('is_surface_selected') || ~item.is_surface_selected) {
                basket.items.push(item);
            }
      });
  }



  tree.on('dataBound', function () {
      set_basket_items();
  });



  </script>


  <script>

    /** Use this as start when loading new cards without form submission
    $('.django-select2').on('change.select2', function (e) {
       var data = e.params.data;
       console.log("select, data "+data);
       console.dir(data);
    });
    */

    // for each surface submit ajax call to insert a bootstrap card
    $(document).ready(function () {
      {% url 'manager:surface-card' as card_url %}
      {% for surface in surfaces %}
        // TODO disabled temporarily
        // submit_surface_card_ajax("{{ card_url }}", {{ surface.id }}, "{{ request.path }}");
      {% endfor %}
    });

    // we don't want error messages if the page is left before everything is loaded
    install_handler_for_aborting_all_ajax_calls_on_page_leave();
  </script>
{% endblock javascript %}
