
{% extends 'base.html' %}
{% load fontawesome %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  {% if object %}
    <li class="breadcrumb-item">
      <a href="{% url 'manager:surface-detail' surface.id %}">{{ surface.name|truncatechars:50 }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  {% else %}
    <li class="breadcrumb-item active" aria-current="page">New Surface</li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}

{% load crispy_forms_tags %}

    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manager:surface-list' %}">
        <i class="fa fa-fw fa-diamond"></i> Search Results
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" href="{% url 'analysis:list' %}">
        <i class="fa fa-fw fa-area-chart"></i> Analyze
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manager:sharing-info' %}">
        <i class="fa fa-fw fa-share-alt"></i> Share
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manager:surface-detail' surface.id %}">
        <i class="fa fa-fw fa-diamond"></i>
        Surface <b>{{ surface.name }}</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        {% if object %}
            {% fontawesome_icon 'edit' %}
            Edit surface <b>{{ surface.name }}</b>
          {% else %}
            {% fontawesome_icon 'plus-square-o' %}
            Create new surface
          {% endif %}
      </a>
    </li>
  </ul>

  <div class="tab-content mt-2">


        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>Field {{ field.name }}: {{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}

        <div class="container">
          <div class="row">
            {% crispy form form.helper %}
          </div>

        </div>

  </div>

{% endblock content %}

