{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}

  {% load crispy_forms_tags %}

  <div class="tab-content mt-2">

    <div class="alert alert-primary">
      <h2 class="alert-heading">You are about to publish your surface <em>{{ surface.name }}</em></h2>
      <p>By publishing, you create an immutable copy of this surface as a snapshot with all its data.</p>
      <p>This snapshot has a version number and a unique URL for citations and it is visible
         and usable for everyone.</p>
    </div>
    <div class="alert alert-success">
      <h2 class="alert-heading">Implications of publishing</h2>
      <p>
        <ul>
          <li>The surface and all topographies will be <b>visible by everyone</b>,
            registered or anonymous users, now and in future.</li>
          <li>The related data (raw data, descriptions, ..) <b>will be downloadable by everyone</b>.</li>
          <li>Every user can perform analyses on your data.</li>
          <li>You choose a license for your data - the choice of the license is irrevocable.</li>
        </ul>
      </p>
      <p>
      This is great if you want to <b>make your data public under a permanent URL</b>, e.g. in order
      to reference your data in a citation.
      </p>
      <p>
      Since a copy is made, you can still work on your
      original data as before the publication.
      You may also publish another version of this surface later.
      </p>
    </div>

    <div class="alert alert-secondary">
      <h2 class="alert-heading">Alternative to publication: Sharing</h2>
      <p>If you want to share this surface with a few users for <b>collaboration</b>,
      please consider <a href="{% url 'manager:surface-share' surface.id %}">sharing this surface</a> instead.</p>
      <p>Unlike publishing this means, that the surface and all related topographies
        are only visible for <b>selected users</b>, not for everyone.
        No snapshot is created.
      </p>
    </div>

    {% if surface.topography_set.count == 0 %}
      <div class="alert alert-error">
        <h2 class="alert-heading">This surface has no topographies yet</h2>
        <div class="row">
          <div class="col">
            <p>
              If you'd like to publish this surface, please add at least one topography to it.
              You can do this by pressing the button on the right or on the previous tab.
            </p>
          </div>
          <div class="col">
            <a class="btn btn-default alert-link"
               href="{% url 'manager:topography-create' surface.id %}">
              {% fontawesome_icon 'plus-square-o' %} Add topography
            </a>
          </div>
        </div>

      </div>
    {% else %}
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>Field {{ field.name }}: {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}

      <div class="alert alert-primary">
        <h2 class="alert-heading">Publication form</h2>
        <p>
          {% crispy form form.helper %}
        </p>
      </div>
    {% endif %}
  </div>

{% endblock content %}

