
{% extends 'base.html' %}
{% load fontawesome %}
{% load surface_tags %}
{% load guardian_tags %}
{% load static i18n %}

{% block extra_css %}

  <!-- Include Fancytree skin  -->
  <!-- link href="{# static 'vendor/fancytree/skin-awesome/ui.fancytree.min.css' #}" rel="stylesheet" -->
  <!-- TODO Use CDN? -->
  <link href="https://unpkg.com/jquery.fancytree@2.33.0/dist/skin-awesome/ui.fancytree.min.css" rel="stylesheet">

{% endblock extra_css %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">
    Surfaces
  </li>
{% endblock breadcrumbs %}


{% block content %}


  {# full text search in names, descriptions, tags #}

  {% include "tabs.html" with active_tab="select" %}

  <div class="tab-content mt-2">
    <div class="tab-pane active">

      <form>
        <div class="form-row">

          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="searchbar" type="text" class="form-control" aria-label="Search"
                     placeholder="Filter by name, description, and tags..." autocomplete="off">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary form-control" id="button_reset_filter" type="button">&times;</button>
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="select-category-filter">
              <option value="all" selected>All categories</option>
              <option value="exp">Experimental data only</option>
              <option value="sim">Simulated data only</option>
              <option value="dum">Dummy data only</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="select-sharing-status-filter">
              <option value="all" selected>Own and shared surfaces</option>
              <option value="own">Only own surfaces</option>
              <option value="shared">Only surfaces shared with you</option>
            </select>
          </div>


          <div id="tree-selector" class="form-group btn-group btn-group-toggle col-md-2" data-toggle="buttons">
            <label class="btn btn-default active">
              <input type="radio" name="options" value="surface list" id="surface-list-radio-btn" autocomplete="off" checked>
              {% fontawesome_icon 'diamond' %} Surface list
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options" value="tag tree" id="tag-tree-radio-btn" autocomplete="off">
                {% fontawesome_icon 'tag' %}Tag tree
            </label>
          </div>

          <div class="form-group col-md-2">
            <a class="btn btn-primary form-control" href="{% url 'manager:surface-create' %}">Create Surface</a>
          </div>

        </div>


      </form>


      <div id="search-result">
        <div id="scrollParent">
          <table id="result-tree" class="table table-condensed">
            <colgroup>
              <col width="40%"></col>
              <col width="45%"></col>
              <col width="15%"></col>
            </colgroup>
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div id="result-summary"></div>


    </div>

  </div>

{% endblock content %}

{% block javascript %}

  <script src="https://unpkg.com/jquery-highlight@3.3.0/jquery.highlight.js"></script>
  <script src="https://unpkg.com/jquery.fancytree@2.33.0/dist/jquery.fancytree-all-deps.min.js"></script>
  <script src="https://unpkg.com/jquery.fancytree@2.33.0/dist/modules/jquery.fancytree.glyph.js"></script>
  <script src="https://unpkg.com/jquery.fancytree@2.33.0/dist/modules/jquery.fancytree.table.js"></script>
  <script src="https://unpkg.com/jquery.fancytree@2.33.0/dist/modules/jquery.fancytree.filter.js"></script>

  <script>

      /**
       * Display search results as tree
       * @type {*|jQuery}
       */

      function get_tree() {
          return $("#result-tree").fancytree("getTree");
      }


      var summary_vm = new Vue({
          delimiters: ['[[', ']]'],
          el: '#result-summary',
          template: `
            <span>Showing [[ num_elements_shown ]] [[ element_kinds[tree_mode] ]] out of [[ num_elements ]]. [[ hints[tree_mode] ]]</span>
          `,
          data: {
              num_elements: 0,
              num_elements_shown: 0,
              element_kinds: {
                  "surface list": "surfaces",
                  "tag tree": "top level tags",
                  "unknown": "(?)"
              },
              tree_mode: "surface list",
              hints: {
                  "surface list": "The selected items are used when switching to analyses.",
                  "tag tree": "Tags can be introduced or changed when editing meta data of surfaces and topographies.",
                  "unknown": ""
              }
          },
          methods: {
              update: function() {
                  var tree = get_tree();

                  if (this.tree_mode == "surface list") {
                      this.element_kind = "surfaces";
                      this.hint = "The selected items are used when switching to analyses.";
                  } else if (this.tree_mode == "tag tree") {
                      this.element_kind = "top level tags";
                      this.hint = "New tags can be introduced when editing meta data of surfaces and topographies.";
                  } else {
                      this.tree_mode = "unknown";
                  }

                  this.num_elements = tree.rootNode.children.length;
                  this.num_elements_shown = tree.rootNode.children.filter(function (node){
                      return node.isMatched();
                  }).length;
              }
          }
      });

      function item_button_link_attributes(urls, urlname) {
          var attr = "";

          // console.log(urls, urlname);

          if (urls.hasOwnProperty(urlname)) {
              attr = `href="${urls[urlname]}"`;
          } else {
              attr = "href='#' disabled";
          }
          return attr;
      }

      function item_buttons(urls) {
          // node: tree node for which this function is called
          // urls: object with url names as keys and urls as values
          //
          // Use this function to compile buttons for surfaces and topographies in the result table
          //
          // return HTML
          var result = "";

          if (urls.hasOwnProperty('detail')) {
              result += `
                <a href="${urls['detail']}" class="btn btn-default" type="button">
                    Properties
                </a>
              `
          }
          if (urls.hasOwnProperty('show_analyses')) {
              result += `
                <a href="${urls['show_analyses']}" class="btn btn-default" type="button">
                    Analyze
                </a>
              `
          }

          return result;
      }


      var result_tree = $('#result-tree').fancytree({
          extensions: ["glyph", "table", "filter"],
          glyph: {
              preset: "awesome4",
              map: {
                // Override distinct default icons here
                folder: "fa-folder",
                folderOpen: "fa-folder-open"
              }
          },
          types: {
            "surface": {icon: "fa fa-diamond fa-fw", iconTooltip: "This is a surface"},
            "topography": {icon: "fa fa-file-o fa-fw", iconTooltip: "This is a topography"},
            "tag": {icon: "fa fa-tag fa-fw", iconTooltip: "This is a tag"},
          },
          icon: function(event, data) {
            // data.typeInfo contains tree.types[node.type] (or {} if not found)
            // Here we will return the specific icon for that type, or `undefined` if
            // not type info is defined (in this case a default icon is displayed).
            return data.typeInfo.icon;
          },
          iconTooltip: function(event, data) {
             return data.typeInfo.iconTooltip; // set tooltip which appears when hovering an icon
          },
          table: {
		        checkboxColumnIdx: null,    // render the checkboxes into the this column index (default: nodeColumnIdx)
		        indentation: 20,         // indent every node level by these number of pixels
		        nodeColumnIdx: 0         // render node expander, icon, and title to this column (default: #0)
	        },
          filter: {
            autoApply: true,   // Re-apply last filter if lazy data is loaded
            autoExpand: true, // Expand all branches that contain matches while filtered
            counter: false,     // Show a badge with number of matching child nodes near parent icons
            fuzzy: false,      // Match single characters in order, e.g. 'fb' will match 'FooBar'
            hideExpandedCounter: true,  // Hide counter badge if parent is expanded
            hideExpanders: false,       // Hide expanders if all child nodes are hidden by filter
            highlight: false,   // Highlight matches by wrapping inside <mark> tags | we do this outself because of extra columns
            leavesOnly: false, // Match end nodes only
            nodata: true,      // Display a 'no data' status node if result is empty
            mode: "hide"
          },
          source: {
              url: "{% url 'manager:surface-search' %}",
              cache: false
          },
          autoActivate: true,
          //  titlesTabbable: false,
          tabbable: false,
          focusOnSelect: false,
          scrollParent: $("#scrollParent"),
          checkbox: true,
          selectMode: 3, // 'multi-hier'
          init: function() {
            basket.update();
            summary_vm.update();
            set_tree_mode_styles("surface list");
          },
          select: function(event, data) {
              var node = data.node;
              var is_selected = node.isSelected();

              if (is_selected) {
                   $.ajax({
                       type: "POST",
                       url: node.data.urls.select,
                       data: {
                           csrfmiddlewaretoken: "{{csrf_token}}"
                       },
                       success: function (data, textStatus, xhr) {
                           // console.log("Selected: " + node.data.name + " " + node.key);
                           basket.update();
                       },
                       error: function (xhr, textStatus, errorThrown) {
                           console.error("Could not select: " + errorThrown + " " + xhr.status + " " + xhr.responseText);
                       }
                   });
              } else {
                  $.ajax({
                       type: "POST",
                       url: node.data.urls.unselect,
                       data: {
                           csrfmiddlewaretoken: "{{csrf_token}}"
                       },
                       success: function (data, textStatus, xhr) {
                           // console.log("Unselected: " + node.data.name + " " + node.key);
                           basket.update();
                       },
                       error: function (xhr, textStatus, errorThrown) {
                           console.error("Could not unselect: " + errorThrown + " " + xhr.status + " " + xhr.responseText);
                       }
                   });
              }
          },


          renderColumns: function(event, data) {
              var node = data.node;
              var $tdList = $(node.tr).find(">td");

              /**
                Add special css classes to nodes depending on type
               */

              var extra_classes = {
                  surface: [],
                  topography: [],
                  tag: ['font-italic']
              };

              extra_classes[node.type].forEach(function (c) {
                node.addClass(c);
              });


              /**
               * Render columns
               */

              // Index #0 is rendered by fancytree, but extended here by tags
              if (node.data.tags !== undefined) {
                  var tag_html = [];
                  node.data.tags.forEach(function (tag) {
                      tag_html += "<span class='badge badge-success mr-1'>" + tag + "</span>"
                  });

                  // append tags to fancytree-title
                  $tdList.eq(0).find('.fancytree-title').after(tag_html);

              }

              // Set column with description
              if (node.data.description !== undefined) {
                  var description_html = `<div class='description-column'>${node.data.description}</div>`
                  $tdList
                      .eq(1)
                      .html(description_html);
              }


              // Set columns with buttons:
              if (node.type !== "tag") {
                  var actions_html = `
                    <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                     ${item_buttons(node.data.urls)}
                    </div>
                  `;
                  $tdList
                      .eq(2)
                      .html(actions_html);
              }

              // Static markup (more efficiently defined as html row template):
              // $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
              // ...
            },
      });



      function node_data_matches_because_of_name_description_tag(data, term) {
          return data.name.toLocaleLowerCase().includes(term)
              || data.description.toLocaleLowerCase().includes(term)
              || data.tags.some(function (tag) {return tag.includes(term)})
      }

      function filter_items() {
          get_tree().filterNodes( function(node) {

              var category = $('#select-category-filter').val();
              var status = $('#select-sharing-status-filter').val();
              var term = $('#searchbar').val().toLocaleLowerCase();
              var data = node.data;

              if (node.type == "surface") {

                  return node_data_matches_because_of_name_description_tag(data, term)
                      && ( (category==='all') || (node.data.category === category))
                      && ( (status==='all') || (node.data.sharing_status === status));

                  // topographies should be included, if surface matches category or status
              } else if (node.type == "topography") {

                  var surface_node_data = node.parent.data;

                  return node_data_matches_because_of_name_description_tag(data, term)
                    && ((category==='all') || (surface_node_data.category === category))
                    && ((status==='all') || (surface_node_data.sharing_status === status));

                  // topographies should be included, if surface matches category or status
              } else {
                return true; // let all other nodes pass (tag & root)
              }
         });

         // Highlight the search items in tree
         $("#result-tree").unhighlight();
         $("#result-tree").highlight($('#searchbar').val());

         summary_vm.update();
      }

      function set_tree_mode_styles(tree_mode) {

          var tree = get_tree();
          // console.log('set tree mode styles:', tree_mode);

          var surface_list_label = $('#surface-list-radio-btn').parent('label');
          var tag_tree_label = $('#tag-tree-radio-btn').parent('label');

          if (tree_mode == 'tag tree') {
              // tree.setOption("filter.leavesOnly", true);
              // tree.setOption("selectMode", 2);
              // otherwise tags are selected automatically and hide surface selection when traversing

              tree.setOption("checkbox", false); // this quite complicated..
              tag_tree_label.addClass('btn-success').removeClass('btn-default');
              surface_list_label.addClass('btn-default').removeClass('btn-success');

          } else if (tree_mode == 'surface list') {
              // tree.setOption("filter.leavesOnly", false);
              // tree.setOption("selectMode", 3);
              tree.setOption("checkbox", true);
              surface_list_label.addClass('btn-success').removeClass('btn-default');
              tag_tree_label.addClass('btn-default').removeClass('btn-success');
          }
      }

      $("#select-category-filter").on('change', function() {
         filter_items();
      });

      $("#select-sharing-status-filter").on('change', function() {
         filter_items();
      });

      $("#searchbar").on('input', function (){
          filter_items();
      });

      $('#button_reset_filter').click( function(){
          $('#searchbar').val('');

          var tree = get_tree();

          tree.clearFilter();
          tree.expandAll(false);
          filter_items();
      });

      $('#tree-selector :input').change( function (){
          var tree = get_tree();
          var new_mode = this.value;
          var new_source;

          // console.log("Triggering reload of tree for mode '"+new_mode+"'..");

          if (new_mode == 'surface list') {
            console.log("Trigger loading surface list...");
            new_source = {
                url: "{% url 'manager:surface-search' %}",
                cache: false
            };
            // tree.setOption("selectMode", 3);
            // must be set before loading so "intermediate" selection states
            // are correctly applied
          } else if (new_mode == 'tag tree') {
            console.log("Trigger loading tag tree...");
            new_source = {
                url: "{% url 'manager:tag-list' %}",
                cache: false
            }
            // tree.setOption("selectMode", 2); // in order sur
          } else {
              console.error("Unknown tree mode: "+new_mode);
          }

          // hint: Source in tree option is not set when
          // reloading here, also using "tree.setOption"
          // did not work. Therefore the tree mode is saved
          // in the Vuejs component "summary_vm".
          // There it is also needed to update the footer accordingly.

          tree.reload(new_source).then( function() {
              set_tree_mode_styles(new_mode);
              summary_vm.tree_mode = new_mode;
              summary_vm.update();
              filter_items();
              tree.expandAll(false); // collapse all nodes
          });
      });



      // we don't want error messages if the page is left before everything is loaded
      install_handler_for_aborting_all_ajax_calls_on_page_leave();
  </script>

{% endblock javascript %}
