{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}

  {% load crispy_forms_tags %}

  <div class="tab-content mt-2">

    <div class="alert alert-primary">
      <h2 class="alert-heading">You are about to publish your surface <em>{{ surface.name }}</em></h2>
      <p>By publishing, this surface becomes immutable and you are permanently
         sharing your data with everyone. All users will be notified
         about this publication along with a link.</p>
    </div>
    <div class="alert alert-warning">
      <h2 class="alert-heading">Implications of publishing</h2>
      <p>
        <ul>
          <li>The surface and all topographies will be <b>visible by everyone</b>,
            registered or anonymous users, now and in future.</li>
          <li>The related data (raw data, descriptions, ..) <b>will be downloadable by everyone</b>.</li>
          <li>Every user can perform analyses on your data.</li>
          <li>You <b>can no longer change</b> any properties (description, tags, ..) of the surface.</li>
          <li>You <b>can no longer add new topographies</b> to this surface.</li>
          <li>You <b>can no longer delete this surface</b>.</li>
          <li>You <b>can no longer withdraw this publication</b>.</li>
          <li>You choose a license for your data - the <b>choice of the license is irrevocable</b>.</li>
        </ul>
        It will still be possible to perform analyses on this surface with varying parameters.
      </p>

    </div>

    <div class="alert alert-secondary">
      <h2 class="alert-heading">Consider the alternative: Sharing</h2>
      <p>If you want to share this surface with a few users for <b>collaboration</b>,
      please consider <a href="{% url 'manager:surface-share' surface.id %}">sharing this surface</a> instead.</p>
      <p>Unlike publishing this means:
        <ul>
      <li>The surface and all related topographies are only visible for <b>selected users</b>, not for everyone.</li>
          <li>You can still remove the share or even the surface later on.</li>
          <li>You can still edit the surface and its topographies. You also allow other users to do so, if you want.</li>
        </ul>
      </p>
      This is no longer possible if you publish this surface.
    </div>

    {% if surface.topography_set.count == 0 %}
      <div class="alert alert-error">
        <h2 class="alert-heading">This surface has no topographies yet</h2>
        <div class="row">
          <div class="col">
            <p>
              If you'd like to publish this surface, please add at least one topography to it.
              You can do this by pressing the button on the right or on the previous tab.
            </p>
          </div>
          <div class="col">
            <a class="btn btn-default alert-link"
               href="{% url 'manager:topography-create' surface.id %}">
              {% fontawesome_icon 'plus-square-o' %} Add topography
            </a>
          </div>
        </div>

      </div>
    {% else %}
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>Field {{ field.name }}: {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}

      <div class="alert alert-primary">
        <h2 class="alert-heading">Publication form</h2>
        <p>
          {% crispy form form.helper %}
        </p>
      </div>
    {% endif %}
  </div>

{% endblock content %}

