
{% extends 'base.html' %}
{% load fontawesome %}
{% load crispy_forms_tags %}
{% load surface_tags %}
{% load guardian_tags %}
{% load static i18n %}

{% block extra_css %}

  {# gijgo: for having a searchable tree #}


  <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css">

  {# vuejs for interactivity #}
  {# TODO move script tag to end? #}
  <script src="https://unpkg.com/vue@latest"></script>
  <script src="https://unpkg.com/vue-select@latest"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
  {{ form.media.css }}

  <!-- Include Fancytree skin  -->
  <link href="{% static 'vendor/fancytree-2.32.0/dist/skin-awesome/ui.fancytree.min.css' %}" rel="stylesheet">
  <!-- include jquery.fancytree.glyph.js below für 'glyph' extension of "fancytree" -->


  <!-- TODO Use CDN? -->

{% endblock extra_css %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">
    Surfaces
  </li>
{% endblock breadcrumbs %}

{% block searchbox %}

  <!--

  <div class="bg-light border-top border-bottom">
    <div class="container-fluid">
      {% crispy form form.helper %}
    </div>
  </div>
  -->

  <h2>Selected items</h2>
  <div id="basket">
    <h3>
      <basket-element v-for="node in nodes" v-bind:node="node" v-bind:key="node.key"></basket-element>
    </h3>
  </div>


{% endblock searchbox %}

{% block content %}

  {# search box #}
  {# full text search in names, descriptions, labels #}
  <div class="input-group input-group-lg mb-3">
    <input id="searchbar" type="text" class="form-control" aria-label="Search" placeholder="Filter..." autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-default form-control" id="button_reset_filter" type="button">&times;</button>
    </div>
  </div>

  {# search result as a tree table #}

  <div id="search-result">


    <table id="newtree">
      <colgroup>
        <col width="5%"></col>
        <col width="35%"></col>
        <col width="50%"></col>
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>



   <!--
  Show one card for each selected surface

  Will be replaced by AJAX call.
  -->
{#  #}
{#  <div class="row">#}
{#    {% for surface in surfaces %}#}
{#      <div class="col-xl-4 mb-4">#}
{#        <div id="card-{{ surface.id }}">#}
{#          <div class="card">#}
{#            <div class="card-header">#}
{#              <h5>{{ surface.name }}</h5>#}
{#            </div>#}
{#            <div class="card-body">#}
{#              <p>Please wait..</p>#}
{#              <div class="spinner"></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    {% endfor %}#}
{#  </div>#}


{% endblock content %}

{% block javascript %}
  {{ form.media.js }}

  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>
  <script src="{% static 'vendor/jquery-highlight-3.3.0/jquery.highlight.js' %}"></script>
  <script src="{% static 'vendor/fancytree-2.32.0/dist/jquery.fancytree-all-deps.min.js' %}"></script>
  <script src="{% static 'vendor/fancytree-2.32.0/dist/modules/jquery.fancytree.glyph.js' %}"></script>
  <script src="{% static 'vendor/fancytree-2.32.0/dist/modules/jquery.fancytree.table.js' %}"></script>
  <script src="{% static 'vendor/fancytree-2.32.0/dist/modules/jquery.fancytree.filter.js' %}"></script>



  <script>

      /**
       * Display search results as tree
       * @type {*|jQuery}
       */



      var basket = new Vue({
          delimiters: ['[[', ']]'],
          el: '#basket',
          data: {
            current_time: Date.now(), // see https://github.com/vuejs/vue/issues/214#issuecomment-57822806
            nodes: [],
          },
          methods:{
              update: function () {

                  console.log("Update new tree");

                  var tree = $("#newtree").fancytree("getTree");


                  var nodes = [];

                  tree.getSelectedNodes(true).forEach(function (node) {
                      // here called with stopOnParents=true,
                      // so selected surfaces are pushed but not single topographies then
                      console.log("Push into basket: "+node.data);
                      nodes.push(node);
                  });

                  //console.log("Result: "+nodes);
                  //console.dir(nodes[0]);
                  this.nodes = nodes;
              }
          },

          computed: {
              items_sav: function () {

                  console.log("Update new tree");

                  var tree = $("#newtree").fancytree("getTree");



                  var result = [];

                  tree.getSelectedNodes().forEach(function (node) {
                      // TODO only push
                      result.push(node.data);
                  });

                  console.log("Result for basket:"+result);
                  return result;
                  //
                  // return tree.getSelectedNodes().filter(function (node) {
                  //
                  //       var data = node.data;
                  //
                  //
                  //
                  //       // only push topography item if
                  //       // - it is a surface
                  //       // - or it is a topography and its surface is not already
                  //       //   included because all topographies of the surface are included
                  //       // console.log(item.name + " " + item.is_surface_selected);
                  //       if (!item.hasOwnProperty('is_surface_selected') || (item.is_surface_selected == false)) {
                  //           console.log("Pushed: " + item.key + " " + item.name + " " + item.is_surface_selected);
                  //           return true; // TODO can be easily written more compact
                  //       } else {
                  //           console.log("Not pushed: " + item.key + " " + item.name + " " + item.is_surface_selected);
                  //           return false;
                  //       }
                  //   });
              }
          },
          /**
          created: function(){
              var self = this
              setInterval(function () {
                console.log("Update basket");
                self.current_time = Date.now();
              }, 1000)
          }
           */
      });


      var newtree = $('#newtree').fancytree({
          extensions: ["glyph", "table", "filter"],
          glyph: {
              preset: "awesome4",
          },
          table: {
		        checkboxColumnIdx: 0,    // render the checkboxes into the this column index (default: nodeColumnIdx)
		        indentation: 16,         // indent every node level by 16px
		        nodeColumnIdx: 1         // render node expander, icon, and title to this column (default: #0)
	        },
          filter: {
            autoApply: true,   // Re-apply last filter if lazy data is loaded
            autoExpand: true, // Expand all branches that contain matches while filtered
            counter: false,     // Show a badge with number of matching child nodes near parent icons
            fuzzy: false,      // Match single characters in order, e.g. 'fb' will match 'FooBar'
            hideExpandedCounter: true,  // Hide counter badge if parent is expanded
            hideExpanders: false,       // Hide expanders if all child nodes are hidden by filter
            highlight: false,   // Highlight matches by wrapping inside <mark> tags | we do this outself because of extra columns
            leavesOnly: false, // Match end nodes only
            nodata: true,      // Display a 'no data' status node if result is empty
            mode: "hide"
          },
          source: {
              url: "{% url 'manager:surface-search' %}",
              cache: false
          },
          checkbox: true,
          selectMode: 3, // 'multi-hier'
          init: function() {
            basket.update();
          },
          select: function(event, data) {
              var node = data.node;
              var is_selected = node.isSelected();

              if (is_selected) {
                   $.ajax({
                       type: "POST",
                       url: node.data.select_url,
                       data: {
                           csrfmiddlewaretoken: "{{csrf_token}}"
                       },
                       success: function (data, textStatus, xhr) {
                           console.log("Selected: " + node.data.name + " " + node.key);
                           basket.update();
                       },
                       error: function (xhr, textStatus, errorThrown) {
                           console.error("Could not select: " + errorThrown + " " + xhr.status + " " + xhr.responseText);
                       }
                   });
              } else {
                  $.ajax({
                       type: "POST",
                       url: node.data.unselect_url,
                       data: {
                           csrfmiddlewaretoken: "{{csrf_token}}"
                       },
                       success: function (data, textStatus, xhr) {
                           console.log("Unselected: " + node.data.name + " " + node.key);

                           basket.update();

                       },
                       error: function (xhr, textStatus, errorThrown) {
                           console.error("Could not unselect: " + errorThrown + " " + xhr.status + " " + xhr.responseText);
                       }
                   });
              }
          },
          renderColumns: function(event, data) {
              var node = data.node,
                $tdList = $(node.tr).find(">td");

                // (Index #0 is rendered by fancytree by adding the checkbox)
                // (Index #1 is rendered by fancytree)
                // Set column #2 info from node data:
                $tdList
                  .eq(2)
                    .text(node.data.description);
                // Static markup (more efficiently defined as html row template):
                // $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
                // ...
            },
      });

      Vue.component('basket-element', {
        props: ['node'],
        delimiters: ['[[', ']]'],
        template: `
               <span v-if="node.key.startsWith('surface')" class="badge badge-pill badge-primary mr-1" v-on:click="handle_click">[[ node.title ]]
                    <span class="fa fa-close"></span>
               </span>
               <span v-else class="badge badge-pill badge-secondary mr-1" v-on:click="handle_click">[[ node.title ]]
                    <span class="fa fa-close"></span>
               </span>
             `,
        methods: {
            handle_click: function (event) {
                // Clicking means "deselect"
                this.node.setSelected(false);
                basket.update();
            },
        }
      });


      // TODO replace with filtering of fancytree?

      $("#searchbar").on('input', function (){

          //tree.collapseAll();

          $("#newtree").fancytree("getTree").filterNodes( function(node) {
              var term = $('#searchbar').val().toLocaleLowerCase();
              var data = node.data;
              // Perform case insensitive search
              return data.name.toLocaleLowerCase().includes(term) || data.description.toLocaleLowerCase().includes(term);
          });

          // Highlight the search items in tree
          $("#newtree").unhighlight();
          $("#newtree").highlight($('#searchbar').val());



          return







          /** Fetching new search results given the search query */
          // tree.reload({search: $('#searchbar').val() });
          /**
          var tree = $("#newtree").fancytree("getTree");
          tree.reload( {
               url: "{% url 'manager:surface-search' %}?search="+$('#searchbar').val(),
               cache: false
          }).then(function(){
              basket.update();
              tree.expandAll();

              // Highlight the search items in tree
              $("#newtree").unhighlight();
              $("#newtree").highlight($('#searchbar').val());
          });
          */

          /**  Expand the tree */
          //tree.expandAll();
      });

      $('#button_reset_filter').click( function(){
        $('#searchbar').val('');
        $("#newtree").fancytree("getTree").clearFilter();
      });


    /** Use this as start when loading new cards without form submission
    $('.django-select2').on('change.select2', function (e) {
       var data = e.params.data;
       console.log("select, data "+data);
       console.dir(data);
    });
    */

    // for each surface submit ajax call to insert a bootstrap card
    /**
    $(document).ready(function () {
      {% url 'manager:surface-card' as card_url %}
      {% for surface in surfaces %}
        // TODO disabled temporarily
        // submit_surface_card_ajax("{{ card_url }}", {{ surface.id }}, "{{ request.path }}");
      {% endfor %}
    });
    */
    // we don't want error messages if the page is left before everything is loaded
    install_handler_for_aborting_all_ajax_calls_on_page_leave();
  </script>

{% endblock javascript %}
