
{% extends 'base.html' %}
{% load fontawesome %}

{% block content-title %}Details for Surface <i>{{ surface.name }}</i>
{% endblock content-title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ surface.name }}
  </li>
{% endblock breadcrumbs %}

{% block content %}
<div class="card text-center container-fluid">
  <div class="card-header">

    <h2>
      <div class="pull-left">
      {%  with surface.thumbnail as thumbnail %}
      <img src="{{ thumbnail.url }}" alt="Thumbnail of surface image"
          width="{{ thumbnail.width }}"
          height="{{ thumbnail.height }}">
      {% endwith %}
      </div>
      <b>{{ surface.name }}</b>
      <div class="pull-right">
        <a href="{% url 'manager:surface-delete' surface.id %}" class="btn btn-danger">
            {% fontawesome_icon 'trash' %} Delete
        </a>
        <span></span>
        <a href="{% url 'manager:surface-update' surface.id %}" class="btn btn-default">
            {% fontawesome_icon 'edit' %} Edit
        </a>
        <a href="{% url 'manager:topography-create' surface.id %}" class="btn btn-primary">
          {% fontawesome_icon 'plus-square-o' %} Add Topography
        </a>
      </div>
     </h2>
  </div>
  <div class="card-body">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#topographies" role="tab">Topographies</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#properties" role="tab">Properties</a>
      </li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane fade show active" id="topographies" role="tabpanel" aria-labelledby="topographies-tab">

          <div class="card">
          <!-- Show chart with surface summary -->

            <div class="card-header">
              <div class="card-text">
                Bandwidths of all topographies for this surface. Click on a topography for details.
              </div>
            </div>

            <div id="bandwidths" class="card-img-bottom">
            </div>
          </div>

      </div>

      <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        <table class="table table-responsive text-left">
          <tbody>
            <tr>
              <td>Name</td><td>{{ surface.name }}</td>
            </tr>
            <tr>
              <td>Description</td><td>{{ surface.description }}</td>
            </tr>
            <tr>
              <td><b>to be defined</b></td><td><b>to be defined</b></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

{% endblock content %}

{% block javascript %}
  <script>
  $('#select_all').change(function() {
      var checkboxes = $('.cb-topography');
      checkboxes.prop('checked', $(this).is(':checked'));
  });


  $('.cb-topography').change( function(e) {
      console.log(this);
      $.ajax($(this).attr("data-href"));
    }
  );

  // do not propagate click when selecting checkbox, so no details are shown
  $('.cb-topography').click( function(e) {
    e.stopPropagation();
  })

  $().ready(function(){
    $('.cb-topography').prop('checked', $.ajax($(this).attr("is-selected-url"))['is_selected']);
    console.log("initial selection ready");

    //
    // Create surface summary plot
    //
    var data = {{ bandwidths_data|safe }};

    // var colorScale = new Plottable.Scales.Color();
    var activeBarColor = "#007bff";
    var inactiveBarColor = "#7c7c7d";

    var xScale = new Plottable.Scales.Log();
    var xAxisFormatter = new Plottable.Formatters.siSuffix(2)
    var xAxis = new Plottable.Axes.Numeric(xScale, "bottom").formatter(xAxisFormatter);
    var xAxisLabel = new Plottable.Components.AxisLabel("Bandwidth [m]");

    var yScale = new Plottable.Scales.Category();

    //
    // Create rectangles
    //
    var plot = new Plottable.Plots.Rectangle()
      .x(function (d) {
        return d.lower_bound;
      }, xScale)
      .x2(function (d) {
        return d.upper_bound;
      })
      .y(function (d) {
        return d.name;
      }, yScale)
      .label(function (d) {
        return d.name;
      })
      .labelsEnabled(true)
      .attr("fill", inactiveBarColor)
      .addDataset(new Plottable.Dataset(data));

    //
    // Click on bar should redirect to topography detail
    //
    var click_interaction = new Plottable.Interactions.Click();
    click_interaction.onClick(function (point) {
      // follow the link which was set in the data of the element
      var selection = plot.entitiesAt(point)[0].selection;
      window.location = selection.data()[0].link;
    });
    click_interaction.attachTo(plot);

    //
    // Adjust color of bar when moving over
    //
    var move_interaction = new Plottable.Interactions.Pointer();
    move_interaction.onPointerMove(function(p) {
      plot.entities().forEach(function(entity) {
        entity.selection.attr("fill", inactiveBarColor);
      });
      var entity = plot.entitiesAt(p)[0];
      entity.selection.attr("fill", activeBarColor);
    });
    move_interaction.attachTo(plot);

    //
    // Arrange components and render
    //
    var chart = new Plottable.Components.Table([
      [plot],
      [xAxis],
      [xAxisLabel]
    ]);

    chart.renderTo("#bandwidths");

    window.addEventListener("resize", function () {
      chart.redraw();
    });

  })
  </script>

{% endblock javascript %}


