{% extends 'base.html' %}
{% load fontawesome %}
{% load surface_tags %}
{% load guardian_tags %}

{% block content-title %}Details for Surface <i>{{ surface.name }}</i>
{% endblock content-title %}


{% block content %}

  {% get_obj_perms request.user for surface as "surface_perms" %}

  <div class="tab-content mt-2 extra-tab">

      <div class="row">

        <div class="col-12 col-sm-4 col-md-3 col-lg-2 border-right">

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#topographies" role="tab">Topographies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#description" role="tab">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#permissions" role="tab">Permissions</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 col">

          <div class="tab-content mt-4">

            <div class="tab-pane fade show active" id="topographies">
              {% for bw_err in bandwidths_data_with_errors %}
                <div class="alert alert-error">
                  {{ bw_err.error_message }}
                  Please <a class="alert-link" href="{{ bw_err.link }}">click here</a>
                  to send us an e-mail about this issue. Sorry for the inconvenience.
                </div>
              {% endfor %}
              <div id="bandwidths" class="surface-summary-plot">
              </div>
              <caption>Click on a bar in order to open the topography.</caption>
            </div>

            <div class="tab-pane fade" id="description">
              {{ surface.description|default:"(no description)" }}
            </div>

            <div class="tab-pane fade" id="permissions">

              <table class="table table-responsive">
                <caption>Users having permissions regarding this surface.
                  Click <a href="{% url 'manager:sharing-info' %}">here</a> for information which surfaces are
                  shared with you or by you.
                </caption>
                <thead>
                {% for th in permission_table.head %}
                  <th>{{ th }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for row in permission_table.body %}
                  <tr>
                    {% for cell_content, cell_title in row %}
                      <td>
                        {% if forloop.first %}
                          <span title="Click to view profile">{% fontawesome_icon 'user' %}
                        <a href="{{ cell_title }}">{{ cell_content }}</a>
                        {# a bit of a hack: cell_title is used to pass a link here #}
                        </span>
                        {% else %}
                          {% render_boolean cell_content cell_title %}
                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>

          </div>

        </div>

        <div class="col-sm-3 col-12">

          <div class="row p-3">

            <div class="col">

              <div>
                  <span class="badge badge-info surface-category-headline">
                  {{ surface.get_category_display|default_if_none:"category not defined yet" }}
                  </span>
                {% render_shared_by_badge request surface %}
              </div>
              <div>
                {% for tag in surface.tags.all %}
                  <span class="badge badge-success">{{ tag.name }}</span>
                {% endfor %}
              </div>

            </div>
          </div>
          <div class="row p-3">
            <div class="col">

              {% if surface.num_topographies > 0 %}
                <a href="{% url 'analysis:surface' surface.id %}" class="btn btn-default btn-block btn-lg">
                    {% fontawesome_icon 'area-chart' %} Analyze this surface
                </a>
              {% endif %}

              {% if "change_surface" in surface_perms %}
                <a href="{% url 'manager:surface-update' surface.id %}" class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'edit' %} Edit meta data
                </a>
              {% endif %}

              {% if "change_surface" in surface_perms %}
                <a href="{% url 'manager:topography-create' surface.id %}?redirect={{ request.path }}" class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'plus-square-o' %} Add topography
                </a>
              {% endif %}

              <a href="{% url 'manager:surface-download' surface.id %}" class="btn btn-default btn-block btn-lg">
                {% fontawesome_icon 'download' %} Download
              </a>

              {% if "share_surface" in surface_perms %}
                <a href="{% url 'manager:surface-share' surface.id %}" class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'share-alt' %} Share
                </a>
              {% endif %}

              {% if "publish_surface" in surface_perms %}
                <a href="{% url 'manager:surface-publish' surface.id %}"
                   class="btn btn-outline-success btn-block btn-lg">
                  {% fontawesome_icon 'bullhorn' %} Publish
                </a>
              {% endif %}

              {% if "delete_surface" in surface_perms %}
                <a href="{% url 'manager:surface-delete' surface.id %}"
                   class="btn btn-outline-danger btn-block btn-lg">
                  {% fontawesome_icon 'trash' %} Delete
                </a>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

  </div>



{% endblock content %}

{% block javascript %}
  <script>
    $().ready(function () {
      //
      // Create surface summary plot
      //
      surface_summary_plot($("div#bandwidths"), {{ bandwidths_data_without_errors|safe }});
    })
  </script>

{% endblock javascript %}


