
{% extends 'base.html' %}
{% load fontawesome %}

{% block content-title %}Details for Surface <i>{{ surface.name }}</i>
{% endblock content-title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ surface.name }}
  </li>
{% endblock breadcrumbs %}

{% block content %}
<div class="card text-center container-fluid">
  <div class="card-header">

    <h2>
      <div class="pull-left">
      {%  with surface.thumbnail as thumbnail %}
      <img src="{{ thumbnail.url }}" alt="Thumbnail of surface image"
          width="{{ thumbnail.width }}"
          height="{{ thumbnail.height }}">
      {% endwith %}
      </div>
      <b>{{ surface.name }}</b>
      <div class="pull-right">
        <a href="{% url 'manager:surface-delete' surface.id %}" class="btn btn-danger">
            {% fontawesome_icon 'trash' %} Delete
        </a>
        <span></span>
        <a href="{% url 'manager:surface-update' surface.id %}" class="btn btn-default">
            {% fontawesome_icon 'edit' %} Edit
        </a>
        <a href="{% url 'manager:topography-create' surface.id %}" class="btn btn-primary">
          {% fontawesome_icon 'plus-square-o' %} Add Topography
        </a>
      </div>
     </h2>
  </div>
  <div class="card-body">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#topographies" role="tab">Topographies</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#properties" role="tab">Properties</a>
      </li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane fade show active" id="topographies" role="tabpanel" aria-labelledby="topographies-tab">
          <div class="row">
            <div class="col-12">
              <div class="card">
              <!-- Show chart with surface summary -->
                <div class="card-header">
                  <div class="card-text">
                    Bandwidths of all topographies for this surface. Click on a bar for topography details.
                  </div>
                </div>
                <div class="card-body">
                  <div id="bandwidths" class="surface-summary-plot">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        <table class="table table-responsive text-left">
          <tbody>
            <tr>
              <td>Name</td><td>{{ surface.name }}</td>
            </tr>
            <tr>
              <td>Description</td><td>{{ surface.description }}</td>
            </tr>
            <tr>
              <td><b>to be defined</b></td><td><b>to be defined</b></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

{% endblock content %}

{% block javascript %}
  <script>
  $('#select_all').change(function() {
      var checkboxes = $('.cb-topography');
      checkboxes.prop('checked', $(this).is(':checked'));
  });


  $('.cb-topography').change( function(e) {
      console.log(this);
      $.ajax($(this).attr("data-href"));
    }
  );

  // do not propagate click when selecting checkbox, so no details are shown
  $('.cb-topography').click( function(e) {
    e.stopPropagation();
  })

  $().ready(function(){
    $('.cb-topography').prop('checked', $.ajax($(this).attr("is-selected-url"))['is_selected']);
    console.log("initial selection ready");

    //
    // Create surface summary plot
    //
    surface_summary_plot($("div#bandwidths"), {{ bandwidths_data|safe }});

  })
  </script>

{% endblock javascript %}


