{% extends "base.html" %}
{% load i18n %}
{% load fontawesome %}
{% load crispy_forms_tags %}
{% load progress_bar %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-detail' surface.id %}">{{ surface.name|truncatechars:50 }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">New Topography</li>
{% endblock breadcrumbs %}

{% block content %}

<div class="card">
  <h3 class="card-header">
      {% if object %}
        {% fontawesome_icon 'edit' %}
        Edit topography <b>{{ topography.id }}</b>
      {% else %}
        {% fontawesome_icon 'plus-square-o' %}
        Create new topography for surface <i>{{ surface.name }}</i>
      {% endif %}
      <div class="pull-right">
        Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
      </div>
  </h3>
  <div class="card-body">

      <form method="post" enctype="multipart/form-data">{% csrf_token %}
          <table>
          {{ wizard.management_form }}
          </table>
          {% if wizard.form.errors %}
            {% for field in wizard.form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong>Field {{ field.name }}: {{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in wizard.form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}

          {% crispy wizard.form wizard.form.helper %}
          {% if wizard.steps.step1 == 1 %}
            {% progress_bar %}
          {% endif %}
          <input type="hidden" name="redirect" value="{{ cancel_action }}" />
      </form>

  </div>
</div>
{% endblock content %}

{% block javascript %}
  {% if wizard.steps.step1 == 1 %}
    {% progress_bar_media %}
  {% endif %}
{% endblock %}
