
{% extends 'base.html' %}
{% load fontawesome %}

{% block content-title %}Details for Topography <i>{{ topography.name }}</i>
{% endblock content-title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-detail' topography.surface.id %}">{{ topography.surface.name }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Topography <em>{{ topography.name }}</em>
  </li>
{% endblock breadcrumbs %}

{% block content %}
<div class="card text-center container-fluid">
  <div class="card-header">

    <h2>
      <div class="pull-left">
      <img src="{{ topography.surface_thumbnail.url }}" alt="Thumbnail of surface image"
          width="{{ topography.surface_thumbnail.width }}"
          height="{{ topography.surface_thumbnail.height }}">
      </div>
      <b>{{ topography.name }}</b>

      <div class="pull-right">
        <a href="{% url 'manager:topography-delete' topography.id %}" class="btn btn-danger">
            {% fontawesome_icon 'trash' %} Delete
        </a>
        <span></span>
        <a href="{% url 'manager:topography-update' topography.id %}" class="btn btn-default">
            {% fontawesome_icon 'edit' %} Edit
        </a>
      </div>
     </h2>
  </div>
  <div class="card-body">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#meta" role="tab">Meta Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#image" role="tab">Image</a>
      </li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane fade show active" id="meta" role="tabpanel" aria-labelledby="meta-tab">
        <table class="table table-responsive text-left">
          <tbody>
            <tr>
              <th scope="row">Surface</th>
              <td><a href="{% url 'manager:surface-detail' topography.surface.id %}">{{ topography.surface.name }}</a></td>
            </tr>
            <tr>
              <th scope="row">Measurement Date</th>
              <td>{{ topography.measurement_date }}</td>
            </tr>
            <tr>
              <th scope="row">Name of Data File</th>
              <td>{{ topography.datafile.name }}</td>
            </tr>
            <tr>
              <th scope="row">Data Source</th>
              <td>{{ topography.data_source }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ topography.description }}</td>
            </tr>
            <tr>
              <th scope="row">Physical Size</th>
              <td>{{ topography.size_x }} {{ topography.size_unit }} x {{ topography.size_y }} {{ topography.size_unit }}
              </td>
            </tr>
            <tr>
              <th scope="row">Height Conversion Factor</th>
              <td>{{ topography.height_scale }} {{ topography.height_unit }}</td>
            </tr>
            <tr>
              <th scope="row">Detrending Mode</th>
              <td>{{ topography.get_detrend_mode_display }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
        <img src="{{ topography.surface_image.url }}"
             width="{{ topography.surface_image.width }}"
             height="{{ topography.surface_image.height }}">
      </div>

    </div>

  </div>
</div>

{% endblock content %}


