
{% extends 'base.html' %}
{% load fontawesome %}


{% block content %}

  <div class="tab-content p-2 extra-tab">
     <h3>
       {% fontawesome_icon 'trash' %}
       Are you sure?
     </h3>

     <div class="alert alert-warning" role="alert">Do you really want to delete measurement <em>{{ topography.name }}</em>?
     </div>
     <form method="post">
       {%  csrf_token %}
       <button class="btn btn-danger" type="submit">Yes, delete</button>
       <a href="{% url 'manager:topography-detail' topography.id %}" class="btn btn-default" type="button">Cancel</a>
     </form>
  </div>

{% endblock content %}
