
{% extends 'base.html' %}
{% load fontawesome %}

{% block content-title %}
  Uploaded Topographies
{% endblock content-title %}

{% block content %}

<div class="card ">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" >

        <thead>
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Name</th>
            <th scope="col">Surface</th>
            <th scope="col">Measurement Date</th>
            <th scope="col">Description</th>
            <th scope="col">Selected?</th>
          </tr>
        </thead>
        <tbody>
          {%  for topo in topographies %}
          <tr class="clickable-table-row" data-href="{% url 'manager:topography-detail' topo.id %}">
            <td><img src="{{ topo.surface_thumbnail.url }}" alt="Thumbnail of surface image"
                     width="{{ topo.surface_thumbnail.width }}"
                     height="{{ topo.surface_thumbnail.height }}"></td>
            <th scope="row">{{ topo.name }}</th>
            <td><a href="{% url 'manager:surface-detail' topo.surface.id %}">{{ topo.surface.name }}</a></td>
            <td>{{ topo.measurement_date }}</td>
            <td>{{ topo.description }}</td>
            <td>
              <div class="checkbox-inline">
                <input id="" type="checkbox" value="" disabled>
              </div>
            </td>
          </tr>
          {%  endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}


