
{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}



<div class="card ">
  <h3 class="card-header">
      My Topographies
      <div class="pull-right">
        <a href="{% url 'manager:create' %}" class="btn btn-primary">New</a>
      </div>
  </h3>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" >

        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Measurement Date</th>
            <th scope="col">Name of Data File</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {%  for topo in topographies %}
          <tr class="clickable-table-row" data-href="{% url 'manager:detail' topo.id %}">
            <th scope="row">{{ topo.name }}</th>
            <td>{{ topo.measurement_date }}</td>
            <td>{{ topo.datafile.name }}</td>
            <td>{{ topo.description }}</td>
          </tr>
          {%  endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}


