
{% extends 'base.html' %}
{% load fontawesome %}
{% load static %}

{% block content %}

  {% load crispy_forms_tags %}

  <div class="tab-content p-2 extra-tab">

    <div class="btn-group pull-right">
      <a href="{% url 'manager:topography-update' topography_prev %}"
         class="btn btn-default {% if topography_prev == topography.id %} disabled {% endif %}"
         data-toggle="tooltip" data-placement="bottom" title="Discard unsaved changes and show previous measurement of related surface">
        {% fontawesome_icon 'chevron-left' %}
      </a>
      <a href="{% url 'manager:topography-update' topography_next %}"
         class="btn btn-default {% if topography_next == topography.id %} disabled {% endif %}"
         data-toggle="tooltip" data-placement="bottom" title="Discard unsaved changes and show next measurement of related surface">
        {% fontawesome_icon 'chevron-right' %}
      </a>
    </div>


    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>Field {{ field.name }}: {{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}

    <div class="container">
      <div class="row">
        {% crispy form form.helper %}
      </div>
    </div>
    <div id="instrument-retrieval-message">
      {# Maybe filled below in case of AJAX problems when retrieving instrument details #}
    </div>

  </div>

{% endblock content %}

{% block javascript %}

  {{ block.super }}

  {# Some JSON code to define JS variables from Django context #}
  {{ instrument_dict | json_script:"instrument-dict" }}

  <script src="{% static 'js/instrument.js' %}"></script>

  <script>

    let instrument_json_url_template = "{% url 'manager:instrument-json' '999999999' %}";
    // 999999999 will can replaced by the selected instrument_id

    let instrument_dict = JSON.parse(document.getElementById('instrument-dict').textContent);

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();

      // set values from topography
      set_reliability_input_labels(instrument_dict);

      $('#id_instrument').change(function () {
        update_instrument_parameters(instrument_json_url_template);  // overwrite parameters from topography
      })
    })
  </script>
{% endblock javascript %}
