{% extends 'base.html' %}
{% load static i18n %}
{% load icon_tags %}

{% block content %}

    <h1>Corrupted File</h1>

    <div class="row">
        <div class="col-4">
            <div class="alert alert-error">
                Sorry, the measurement data cannot be added, because
                the file you have uploaded seems to be corrupted.
            </div>
            <div class="alert alert-info">
                Please check the file and if you think it is ok,
                please
                <a class="alert-link" href="mailto:topobank@imtek.uni-freiburg.de?subject=File denoted as 'corrupted'&body=The attached file was denoted as 'corrupted', but it should be okay, because...">drop us an email</a>.
                and send us the file for debug purposes. Thank you!
            </div>

            <a href="{% url 'manager:surface-detail' surface.id %}"
                      class="btn btn-default btn-block btn-lg">
              {% fa5_icon 'gem' 'far' %} Back to surface details
            </a>
            <a href="{% url 'manager:topography-create' surface.id %}?redirect={% url 'manager:surface-detail' surface.id %}"
                      class="btn btn-default btn-block btn-lg">
              {% fa5_icon 'plus-square-o' %} Try again to add measurement data
            </a>
        </div>
    </div>

{% endblock content %}

