
{% extends 'base.html' %}
{% load fontawesome %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-detail' topography.surface.id %}">
      {{ topography.surface.name|truncatechars:20 }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manager:topography-detail' topography.id %}">
      <em>{{ topography.name|truncatechars:30 }}</em></a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Edit
  </li>
{% endblock breadcrumbs %}

{% block content %}

{% load crispy_forms_tags %}


<div class="card">
  <div class="card-header">
      {% if object %}
        <div class="pull-left">
          <h3>{% fontawesome_icon 'edit' %}
            Edit topography <b>{{ topography.name }}</b> of surface <i>{{ topography.surface.name }}</i>
          </h3>
        </div>
        <div class="btn-group pull-right">
          <a href="{% url 'manager:topography-update' topography_prev %}"
             class="btn btn-default {% if topography_prev == topography.id %} disabled {% endif %}"
             data-toggle="tooltip" data-placement="bottom" title="Discard unsaved changes and show previous topography">
            {% fontawesome_icon 'chevron-left' %}
          </a>
          <a href="{% url 'manager:topography-update' topography_next %}"
             class="btn btn-default {% if topography_next == topography.id %} disabled {% endif %}"
             data-toggle="tooltip" data-placement="bottom" title="Discard unsaved changes and show next topography">
            {% fontawesome_icon 'chevron-right' %}
          </a>
        </div>
      {% else %}
        <div class="pull-left">
          <h3>Create new topography for surface <i>{{ surface.name }}</i></h3>
        </div>
      {% endif %}
  </div>
  <div class="card-body">
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>Field {{ field.name }}: {{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}

    <div class="container">
      <div class="row">
        {% crispy form form.helper %}
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block javascript %}

  {{ block.super }}

  <script>
    $('[data-toggle="tooltip"]').tooltip();
  </script>
{% endblock javascript %}
