{% extends 'base.html' %}
{% load static i18n %}
{% load fontawesome %}
{% load guardian_tags %}
{% load surface_tags %}

{% block content-title %}Details for Topography <i>{{ topography.name }}</i>
{% endblock content-title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-list' %}">Surfaces</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manager:surface-detail' topography.surface.id %}">
      {{ topography.surface.name|truncatechars:20 }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <em>{{ topography.name|truncatechars:30 }}</em>
  </li>
{% endblock breadcrumbs %}

{% block extra_css %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css"
    rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}

 {% get_obj_perms request.user for topography.surface as "surface_perms" %}

  <div class="card">

    <div class="card-header">

      <div class="pull-left">
        <h3>{{ topography.name }}</h3>
      </div>

      <ul class="nav nav-pills card-header-pills pull-right">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#plot" role="tab">Plot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#properties" role="tab">Properties</a>
        </li>
        <li>
          <div class="btn-group">
            <a href="{% url 'manager:topography-detail' topography_next %}"
               class="btn btn-default {% if topography_next == topography.id %} disabled {% endif %}">
              {% fontawesome_icon 'chevron-left' %}
            </a>
            <a href="{% url 'manager:topography-detail' topography_prev %}"
               class="btn btn-default {% if topography_prev == topography.id %} disabled {% endif %}">
              {% fontawesome_icon 'chevron-right' %}
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="plot" role="tabpanel" aria-labelledby="plot-tab">
              {{ image_plot_div|safe }}
            </div>

            <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
              <table class="table table-responsive text-left">
                <tbody>
                <tr>
                  <th scope="row">Surface</th>
                  <td><a
                    href="{% url 'manager:surface-detail' topography.surface.id %}">{{ topography.surface.name }}</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Measurement Date</th>
                  <td>{{ topography.measurement_date }}</td>
                </tr>
                <tr>
                  <th scope="row">Name of Data File</th>
                  <td>{{ topography.datafile.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Data Source</th>
                  <td>{{ topography.data_source }}</td>
                </tr>
                <tr>
                  <th scope="row">Description</th>
                  <td>{{ topography.description }}</td>
                </tr>
                <tr>
                  <th scope="row">Physical Size</th>
                  <td>
                    {{ topography.size_x }} {{ topography.unit }}{% if topography.size_y %} x {{ topography.size_y }} {{ topography.unit }} {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Height Conversion Factor</th>
                  <td>{{ topography.height_scale }} {{ topography.unit }}</td>
                </tr>
                <tr>
                  <th scope="row">Detrending Mode</th>
                  <td>{{ topography.get_detrend_mode_display }}</td>
                </tr>
                <tr>
                  <th scope="row">Number of data points</th>
                  <td>
                    {{ topography.resolution_x }}{% if topography.resolution_y %} x {{ topography.resolution_y }} {% endif %}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>

        <div class="col-3">

          <div class="row p-3">

            <div class="col">
              {% render_uploaded_by_badge request topography %}
            </div>
          </div>
          <div class="row p-3">
            <div class="col">
              {% if "change_surface" in surface_perms %}
                <a href="{% url 'manager:topography-update' topography.id %}"
                   class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'edit' %} Edit
                </a>

                <a href="{% url 'manager:topography-delete' topography.id %}"
                   class="btn btn-outline-danger btn-block btn-lg">
                  {% fontawesome_icon 'trash' %} Delete
                </a>
              {% endif %}
            </div>
          </div>
          <div class="row p-3">
            <div class="col">
                <a href="{% url 'manager:surface-detail' topography.surface.id %}"
                   class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'diamond' %} Back to surface details
                </a>

                <a href="{% url 'manager:surface-list' %}"
                   class="btn btn-default btn-block btn-lg">
                  {% fontawesome_icon 'list' %} Back to search results
                </a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>


{% endblock content %}

{% block javascript %}

<!-- ----------- for bokeh plot ----- -->
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>

{{ image_plot_script | safe }}

{% endblock %}

