{% load icon_tags %}

{% if analyses_unready %}
  {# If there are still unfinished analyses, show progress bars for all analyses involved in this card  #}

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Progress</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for av in analyses_available %}
          <tr>
            <td>{{ av.subject.name }}</td>
            <td>
              <div class='progress-wrapper'>
                <div id='progress-bar-{{ av.id }}' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
              </div>
            </td>
            <td>
              <div id="progress-bar-message-{{ av.id }}"><div class="spinner"></div>{{ av.get_task_state_display }}</div>
            </td>
          </tr>
          {% if av.task_id %}
          <script>
            $(function () {
              var progressUrl = "{% url 'celery_progress:task_status' av.task_id %}";
              var options = {
                'pollInterval': 500,
                'progressBarId': 'progress-bar-{{ av.id }}',
                'progressBarMessageId': 'progress-bar-message-{{ av.id }}',
                'onProgress': function(progressBarElement, progressBarMessageElement, progress) {
                  progressBarElement.style.backgroundColor = '#68a9ef';
                  progressBarElement.style.width = progress.percent + "%";
                  progressBarMessageElement.innerHTML = Math.ceil(progress.percent).toString() + ' %';
                  // console.log("progress:", progressBarElement, progress);
                },
                'onError': function(progressBarElement, progressBarMessageElement) {
                  progressBarElement.style.backgroundColor = '#dc4f63';
                  progressBarMessageElement.innerHTML = "Failure";
                  // console.log("error:", progressBarElement)
                },
                'onSuccess': function(progressBarElement, progressBarMessageElement) {
                  progressBarElement.style.backgroundColor = '#76ce60'; // TODO choose better colors or use a class
                  progressBarMessageElement.innerHTML = "Complete";
                  // console.log("success:", progressBarElement)
                }
              };

              CeleryProgressBar.initProgressBar(progressUrl, options);
              // console.log("Progress bar for URL '"+progressUrl+"' initialized.");
            });
          </script>
          {% endif %}

        {% endfor %}
      </tbody>
    </table>
{% else %}
    {# Show info bar if there are analyses which failed #}
    {% if analyses_failure %}
    <div class="alert alert-warning w-100">
      {% fa5_icon 'exclamation-circle' %}
      Analysis for {{ analyses_failure|length }} subject{{ analyses_failure|length|pluralize }} failed.
      See tab "Warnings" for details.
    </div>
    {% endif %}
    {% if extra_warnings %}
    <div class="alert alert-info w-100">
      {% fa5_icon 'exclamation-circle' %}
      Please see tab "Warnings" for additional information about these results.
    </div>
    {% endif %}
{% endif %}

{% if not analyses_available %}
  <div class="alert alert-info w-100">
      {% fa5_icon 'exclamation-circle' %}
      {% if num_basket_items %}
        You have chosen subjects for analyses, but no analyses are available yet.
      {% else %}
        You haven't chosen anything to analyze yet. You can do this with the checkboxes on the
        <a class="alert-link" href="{% url 'manager:select' %}">
        <b>{% fa5_icon 'square-check' 'far' %} Select</b></a> tab.
      {% endif %}
  </div>
{% else %}
  {% for subject_type, unique_kwargs_for_type in unique_kwargs.items %}
    {% if unique_kwargs_for_type is None %}
      <div class="alert alert-warning w-100">
          {% fa5_icon 'exclamation-circle' %}
          Arguments for this analysis function differ among chosen subjects of type '{{ subject_type }}'.
          See <a href="#" data-toggle="modal" data-target="#statusesModal-{{ card_id }}">task information</a> for details.
          You may trigger a recalculation with common arguments.
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% for ms in subjects_missing %}

  <div class="alert alert-warning w-100" id="trigger-div-{{ function.id }}-{{ forloop.counter }}">
    Analysis for subject <a href="{{ ms.get_absolute_url }}" class="alert-link">{{ ms.name }}</a>
    not triggered yet. Please <button id="trigger-button-{{ function.id }}-{{ forloop.counter }}">trigger</button> if needed.
  </div>
  <script>
   $("#trigger-button-{{ function.id }}-{{ forloop.counter }}").click( function() {
         var div = $('#trigger-div-{{ function.id }}-{{ ms.id }}'); // show answer for click in a prominent way

         console.log("Button 'trigger' clicked for function {{ function.name }} and subject {{ ms }}!");

         $.ajax({
          type: "POST",
          url: "{% url 'analysis:card-submit' %}",
          timeout: 0,
          data: {
            function_id: {{ function.id }},
            subjects_ids_json: JSON.stringify({ "{{ ms.get_content_type.id }}": {{ ms.id }} }),
            function_kwargs_json: JSON.stringify({}), // empty object -> default parameter
            csrfmiddlewaretoken: "{{csrf_token}}"
          },
          success : function(data, textStatus, xhr) {
            // debug_msg("Job submission successful. Status: "+xhr.status+" textStatus: "+textStatus);
            if (xhr.status==200) {
              $(div).html("Triggered for subject '{{ ms.name }}' ({{ ms.get_content_type.model }}). Reload page for results.");
              $(div).removeClass("alert-warning");
              $(div).addClass("alert-success");
            } else {
              console.log("Submitting analyses failed");
              $(div).html("Triggering calculation failed, status: "+xhr.status+" response:"+xhr.responseText);
              $(div).removeClass("alert-warning");
              $(div).addClass("alert-danger");
            }
          },
          error: function(xhr, textStatus, errorThrown) {
            console.log("AJAX error when submitting jobs: errorThrown: "+errorThrown+" status: " +xhr.status+" responseText: "+xhr.responseText);
            $(div).html("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
            $(div).removeClass("alert-warning");
            $(div).addClass("alert-danger");
          }
        });

     });
   </script>

{% endfor %}
