{% extends 'base.html' %}
{% load icon_tags %}
{% load crispy_forms_tags %}
{% load analysis_tags %}
{% load static %}

{% block extra_css %}
  {{ form.media.css }}
  <link type="text/css" href="{% static 'vendor/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block content %}

  <div class="tab-content mt-2">
    <div id="analyses" class="tab-pane active">

      {% crispy form form.helper %}

      <!--
      Show one card for each analysis function

      Will be replaced by AJAX call.
      -->
      <div class="row">
        {% for card in cards %}
          <div class="col-lg-6 mb-4">
            <div id="{{ card.id }}-wrapper">
              <div class="card search-result-card">
                <div class="card-header">
                  <h5>{{ card.function.name }}</h5>
                </div>
                <div class="card-body">
                    <span class="spinner"></span>
                    <div id="{{ card.id }}-wait-text">
                      Please wait...
                    </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <!-- ----------- for bokeh plot ----- -->
  <script src="{% static 'vendor/bokeh/bokeh.min.js' %}"></script>
  <script src="{% static 'vendor/bokeh/bokeh-api.min.js' %}"></script>
  <script src="{% static 'vendor/bokeh/bokeh-widgets.min.js' %}"></script>
  <script src="{% static 'vendor/bokeh/bokeh-tables.min.js' %}"></script>
  <script src="{% static 'js/plot.js' %}"></script>

  <!-- for task progress bar -->
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

  <!-- for datatables -->
  <script src="{% static 'vendor/datatables/datatables.min.js' %}"></script>

  <script>
    const result_view_mode = 'list';

    $(document).ready(function () {
      <!-- Trigger fetching analysis results -->
      // for each card submit ajax call to insert result card
      {% url 'analysis:card' as card_url %}
      {% for card in cards %}
        {#console.log("analysis-list.html:")#}
        {#console.log("{{ card_url }}", "card-{{ forloop.counter }}", "list", {{ card.function.id }});#}
        {#console.log("subjects_ids_json:");#}
        {#console.log({{ card.subjects_ids_json|safe }});#}
        submit_analyses_card_ajax("{{ card_url }}", "{{ card.id }}-wrapper", "{{ card.id }}",
                                  "list", {{ card.function.id }},
                                  {{ card.subjects_ids_json|safe }}, 0);
      {% endfor %}

      // we want that closing an item in the basket
      // does unselect it and reload the analyses
      basket.unselect_handler = function reload (key) {
         location.reload();  // simplest way now to reduce analyses shown
        // It would be better to only reload the cards, but so far the "cards" context variable
        // does not come from an AJAX call
      };
    });

    // we don't want error messages if the page is left before everything is loaded
    install_handler_for_aborting_all_ajax_calls_on_page_leave();
  </script>

  <!-- for crispy form -->
  {{ form.media.js }}
{% endblock javascript %}
