
{% extends 'base.html' %}
{% load fontawesome %}

{% block content-title %}
  Results for my Surfaces
{% endblock content-title %}

{% block content %}

<div class="card ">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" >

        <thead>
          <tr>
            <th scope="col">Topography</th>
            <th scope="col">Analysis</th>
            <th scope="col">Result</th>
            <th scope="col">Task State</th>
            <th scope="col">Task ID</th>
          </tr>
        </thead>
        <tbody>
          {%  for analysis in analyses %}
          <tr>
            <td><a href="{% url 'manager:topography-detail' analysis.topography.id %}">{{ analysis.topography.name }}</a></td>
            <td>{{ analysis.func_name }}</td>
            <td>{{ analysis.result }}</td>
            <td>{{ analysis.task_state }}</td>
            <td>{{ analysis.task_id }}</td>
          </tr>
          {%  endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}


