{% extends 'base.html' %}
{% load icon_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="tab-content mt-2">
  <div id="analyses" class="tab-pane active"></div>
</div>
{% endblock content %}

{% block javascript %}

<!-- create card apps -->
{{ subjects|json_script:'subjects' }}
<script src="{% static 'js/analysis_app.bundle.js' %}"></script>
<script>
  topobank.analysis_app.createAnalysisApp('#analyses', {
    csrfToken: '{{ csrf_token }}',
    subjects: JSON.parse(document.getElementById('subjects').textContent)
  });
</script>

{% endblock javascript %}
