{% extends 'base.html' %}
{% load fontawesome %}
{% load crispy_forms_tags %}

{% block content-title %}
  Analysis Results
{% endblock content-title %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock extra_css %}

{% block content %}

  <div class="row">
    <div class="col-xl-12 mb-4">
      <div class="card">
        <div class="card-header">
          Filter results by topographies and analysis functions
        </div>
        <div class="card-body">
          {% crispy form form.helper %}
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="row">
  <form>
    <div class="form-control">
      <label for="selectTopographies">Filter topographies</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="selectTopographiesHelp" class="form-text text-muted">
        Choose one or multiple topographies. You can search interactively by name.
      </small>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </div>-->

  <div class="row">
    {% for analysis in analyses %}
      {% ifchanged analysis.function.id %}
        {% if not forloop.first %}
              ]'></div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-xl-6 mb-4">
          <div class="card">
          <div class="card-header">
            {{ analysis.function.name }}
            <div class="btn-group btn-group-sm pull-right dropdown">
              <button type="button" class="btn btn-default" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-chevron-down"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item topobank-change-unit" href="#">Display in units of nm</a>
                <a class="dropdown-item topobank-change-unit" href="#">Display in units of µm</a>
                <a class="dropdown-item topobank-change-unit" href="#">Display in units of mm</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Download as SVG</a>
                <a class="dropdown-item" href="#">Download data</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="spinner"></div>
              <div class="topobank-scatter-plot topobank-plot-resize"
                   data-src='["{% url 'analysis:retrieve' analysis.id %}"
      {% else %}
                             ,"{% url 'analysis:retrieve' analysis.id %}"
      {% endifchanged %}
      {% if forloop.last %}
              ]'></div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock content %}

{% block javascript %}
  {{ form.media.js }}
{% endblock javascript %}
