<div class="tab-pane show active" id="plot-{{ card_id }}" role="tabpanel" aria-labelledby="card-tab">
  {% include 'analysis/analyses_alerts.html' %}
  {% if analyses_success %}
    {# Show all analyses for which we have results #}
    <bokeh-plot unique-prefix="bokeh-{{ card_id }}"
                :data-sources='{{ data_sources|safe }}'
                :categories='[{name:"name", title:"Measurements"}]'
                output-backend="{{ output_backend }}">
    </bokeh-plot>
  {% endif %}
</div>
