{# Needs some keys in context. See AJAX view "PlotCardView" #}
{% extends 'analysis/simple_card_detail.html' %}
{% load analysis_tags %}
{% load icon_tags %}
{% load static %}

{% block card_header %}
  <div class="pull-left">
    <h3>{{ title }}</h3>
  </div>
{% endblock card_header %}

{% block card_body %}

  <div class="row">

      <div class="col-12 col-sm-4 col-md-3 col-lg-2">

      <div class="nav nav-pills nav-pills-custom flex-column" aria-orientation="vertical">
        <a class="nav-link mb-3 p-3 shadow active" data-toggle="pill" href="#area-load-displacement-tab" role="tab" aria-selected="true">
          Area, load and displacement
        </a>
        {% if analyses_failure or extra_warnings %}
          <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#warnings-tab-{{ card_id }}" role="tab" aria-selected="false">
            Warnings
          </a>
        {% endif %}
      </div>

    </div>


    {# Right side #}
    <div class="col-sm-6">
      <div class="tab-content">

        {% include 'analysis/analyses_alerts.html' %}

        {% if not analyses_unready %}
        <div class="tab-pane fade active show" id="area-load-displacement-tab">
            {% if not analyses_unready and analyses_success %}
              {# Show all analyses for which we have results #}
              {{ plot_div | safe }}
            {% endif %}
        </div>
        {% endif %}
        {% include 'analysis/analyses_warnings_tab_pane.html' %}

      </div>
    </div>

    <div class="col-sm-4">
        <div class="tab-pane container active" id="tools-tab">

          {# BUTTON "TASK INFORMATION" #}
          <div class="row p-3">
            <div class="col-12">
              {% if analyses_available and not analyses_unready %}
                <a class="btn btn-default btn-block btn-lg" href="#" data-toggle="modal"
                   data-target="#statusesModal-{{ card_id }}">{% fa5_icon 'tasks' %} Task information</a>
              {% endif %}
            </div>
          </div>

          {% if not analyses_unready and analyses_success %}
          {# BUTTON "DOWNLOAD" #}
          <div class="row p-3">
            <div class="col-12">
              <a id="download" class="btn btn-default btn-block btn-lg"
              href="{% url 'analysis:download' analyses_success|analyses_results_ids_list_str 'contact mechanics' 'zip' %}">
                {% fa5_icon 'download' %} Download
              </a>
            </div>
          </div>
          {% endif %}

          {# ELEMENTS FOR TRIGGERING A CALCULATION #}
          {% if not analyses_unready %}
          <div class="row p-1">
            <div class="col-12">

              <form>
                <div class="form-group row">

                  {# Substrate selection #}

                  <div class="input-group col-auto">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        Type
                      </div>

                    </div>
                    <select class="custom-select" id="substrate-select">
                      <option value="periodic" selected>Periodic (repeating array of the measurement)</option>
                      <option value="nonperiodic">Free boundaries (flat punch with measurement)</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-info-circle" data-toggle="popover"
                           tabindex="0" data-trigger="focus" role="button"
                           title="Type of calculation"
                           data-content="This option determines how the elastic interactions are calculated.
                                   This affects edge effects that may show up in the results at large contact area.
                                   Calculations can assume that the surface repeats periodically or that it is pushing down on a nonperiodic,
                                   infinitely expanded half-space. The latter option corresponds to mapping the surface topography on a flat punch.
                                   If not given, this value is automatically chosen as 'periodic' for periodic topographies,
                                   else non-periodic."></i>
                      </div>
                    </div>
                  </div>

                  {# Hardness input #}
                  <div class="input-group col-auto">

                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        Hardness
                      </div>
                      <div class="input-group-text">
                        <input id="hardness-checkbox" type="checkbox" aria-label="enable-hardness">
                      </div>
                    </div>
                    <input id="hardness-input" type="number" min="0" step="0.1" class="form-control"
                           disabled="true"
                      {# will be clicked automatically if hardness was given in arguments, see below #}
                           value="{{ initial_calc_kwargs.hardness }}">
                    <div class="input-group-append ">
                      <div class="input-group-text">
                        E<sup>*</sup>
                      </div>
                      <div class="input-group-text">
                        <i class="fa fa-info-circle" data-toggle="popover"
                           tabindex="0" data-trigger="focus" role="button"
                           title="Hardness"
                           data-content="Setting a hardness enables plastic calculations. Local pressure cannot exceed hardness value."></i>
                      </div>
                    </div>
                  </div>

                  {# Step selection #}
                  <div class="input-group col-auto">
                    {# Automatic #}
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="radio"
                               name="pressure-selection"
                               value="automatic"
                               checked="checked"
                               aria-label="Radio button for automatic step selection">
                      </div>
                      <div class="input-group-text">
                        Number of steps
                      </div>
                    </div>
                    <input id='nsteps-input' type="number"
                           min="{{ limits_calc_kwargs.nsteps.min }}"
                           max="{{ limits_calc_kwargs.nsteps.max }}"
                           step="1" class="form-control"
                           value="{{ initial_calc_kwargs.nsteps }}">
                    <div class="input-group-append ">
                      <div class="input-group-text">
                        <i class="fa fa-info-circle" data-toggle="popover"
                           tabindex="0" data-trigger="focus" role="button"
                           title="Automatic step selection"
                           data-content="Number of pressure steps which are chosen automatically."></i>
                      </div>
                    </div>
                  </div>
                  <div class="input-group col-auto">
                    {# Fixed list #}
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="radio" name="pressure-selection" value="manual" aria-label="Radio button for list of values">
                      </div>
                      <div class="input-group-text">
                        Pressures
                      </div>
                    </div>
                    <select id="select-pressure-steps" class="form-control" multiple="">
                      {% if initial_calc_kwargs.pressures %}
                        {% for pressure in initial_calc_kwargs.pressures %}
                          <option value={{ pressure }} selected>{{ pressure }}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                    <div class="input-group-append  ">
                      <div class="input-group-text">
                        E<sup>*</sup>
                      </div>
                      <div class="input-group-text">
                        <i class="fa fa-info-circle" data-toggle="popover"
                           tabindex="0" data-trigger="focus" role="button"
                           title="Manual step selection"
                           data-content="Enter positive pressure values for which you need results. You can also copy/paste
                           a comma-separated list of values with a comma after every number. Use '.' as decimal separator.
                           The maximum number of values is {{ limits_calc_kwargs.pressures.maxlen }}."></i>
                      </div>
                    </div>
                  </div>

                  {# Input of maximum number of iterations  #}
                  <div class="input-group col-auto">
                    {# Automatic #}
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        Max. number of iterations
                      </div>
                    </div>
                    <input id='maxiter-input' type="number"
                           min="{{ limits_calc_kwargs.maxiter.min }}"
                           max="{{ limits_calc_kwargs.maxiter.max }}"
                           step="1" class="form-control"
                           value="{{ initial_calc_kwargs.maxiter }}">
                    <div class="input-group-append ">
                      <div class="input-group-text">
                        <i class="fa fa-info-circle" data-toggle="popover"
                           tabindex="0" data-trigger="focus" role="button"
                           title="Maximum number of iterations"
                           data-content="Maximum number of iterations (<={{ limits_calc_kwargs.maxiter.max }})."></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row p-1">
            <div class="col-12">
              {% if request.user.is_anonymous %}
                <button title="Please login for this feature"
                      class="btn btn-primary btn-block btn-lg disabled }}" disabled>
                {% fa5_icon 'repeat' %} Recalculate
              </button>
              {% else %}
                <button id="recalculate" title="Trigger calculation with given arguments"
                      class="btn btn-primary btn-block btn-lg">
                    {% fa5_icon 'repeat' %} Recalculate
                </button>
              {% endif %}
            </div>
          </div>
          {% endif %}

        </div>
    </div>
  </div>

  {% if not analyses_unready and analyses_success %}
  <hr />

  <div class="row">

    <div class="col-12 col-sm-4 col-md-3 col-lg-2">

      <div class="nav nav-pills nav-pills-custom flex-column" aria-orientation="vertical">
        <a class="nav-link mb-3 p-3 shadow active" data-toggle="pill" href="#contact-geometry-tab" role="tab" aria-selected="true">
          Contact geometry
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#contact-pressure-tab" role="tab" aria-selected="false">
          Contact pressure
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#pressure-distribution-tab" role="tab" aria-selected="false">
          Pressure distribution
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#displacement-tab" role="tab" aria-selected="false">
          Displacement
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#gap-tab" role="tab" aria-selected="false">
          Gap
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#gap-distribution-tab" role="tab" aria-selected="false">
          Gap distribution
        </a>
        <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#cluster-size-distribution-tab" role="tab" aria-selected="false">
          Cluster size distribution
        </a>

      </div>

    </div>

    {# Midde side #}
    <div class="col-sm-8">
      {# Tab contents on right side #}
      <div class="tab-content mt-3">
        {% if not analyses_unready %}
        <div class="tab-pane fade active show" id="contact-geometry-tab">
          <div id="contact-geometry" class="alert alert-info">For contact geometry, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="contact-pressure-tab">
          <div id="contact-pressure" class="alert alert-info">For contact pressure, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="pressure-distribution-tab">
          <div id="pressure-distribution" class="alert alert-info">For pressure distribution, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="displacement-tab">
          <div id="displacement" class="alert alert-info">For displacement, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="gap-tab">
          <div id="gap" class="alert alert-info">For gap, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="gap-distribution-tab">
          <div id="gap-distribution" class="alert alert-info">For gap distribution, select a point in the graphs on the top!</div>
        </div>
        <div class="tab-pane fade" id="cluster-size-distribution-tab">
          <div id="cluster-size-distribution" class="alert alert-info">For cluser size distribution, select a point in the graphs on the top!</div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>
  {% endif %}

{% endblock card_body %}

{% block card_javascript %}

  {% if not analyses_unready and analyses_success %}
    {# Insert the script code needed for the plot #}
    {{ plot_script | safe }}
{#    {{ load_plot_script | safe }}#}
  {% endif %}

  <script src="{% static 'tagulous/lib/select2-4/js/select2.min.js' %}"></script>

  {# Additonal code for initialization #}
  <script>

  function debug_msg(msg) {
    alert("Debug: "+msg);
    console.log("Debug: "+msg);
  }

  function activate_pill(pill){
    $('.nav-pills a[href="#' + pill + '"]').tab('show');
  };

  function is_pill_activated(pill){
    return $('.nav-pills a[href="#' + pill + '"]').hasClass("active");
  };


  function selection_handler(obj, data, sources) {
    var selected = data.source.selected;
    var index = selected.indices[0];
    var name = data.source.name; // name of source = topography name

    var analysis_id = name.split('-')[1];

    console.log("Selected index: "+index+" in source: "+name+" -> analysis_id: "+analysis_id);

    /**
     * Make sure only the selection for one topography is active
     * and deselect all others
     */
    for (i=0; i<sources.length; i++) {
      var selection = []; // default: unselect all points
      var s = sources[i];

      if (s == data.source) {
        // console.log("Skipping source "+s+" ...");
        continue; // we do not modify the source for the clicked point, should be okay as bokeh does it
      }

      if (name == s.name) {
        selection = [index]; // if name of source is same as clicked point, select point equivalent point there
      }

      // console.log("Selection for source "+s+": "+selection);
      sources[i].selected.indices = selection;

    }

    /**
     * Trigger loading of extra data by using analysis id and index of point
     */

    var tab_names = ['contact-geometry', 'contact-pressure', 'displacement', 'gap',
                     'pressure-distribution', 'gap-distribution', 'cluster-size-distribution'];

    tab_names.forEach(function(tn){
      var div = $('#'+tn);
      div.addClass('alert alert-info');
      div.html("<span class='spinner'></span>Getting data, please wait.."); // Delete all old contents
    });

    if (is_pill_activated('tools-pill')) {
      activate_pill('contact-geometry-pill');
    }

    $.ajax({
          type: "POST",
          url: "{% url 'analysis:contact-mechanics-data' %}",
          timeout: 0,
          data: {
            analysis_id: analysis_id,
            index: index,
            csrfmiddlewaretoken: "{{csrf_token}}"
          },
          success : function(data, textStatus, xhr) {
            // debug_msg("Job submission successful. Status: "+xhr.status+" textStatus: "+textStatus+" data: "+data.data_path);

            tab_names.forEach(function(tn){
              var div = $('#'+tn);
              div.removeClass('alert alert-info');
              div.html(""); // Delete all old contents

              var plot = JSON.parse(data[tn]);
              Bokeh.embed.embed_item(plot, tn); // in Python code, the correct tab names must be used
            });

          },
          error: function(xhr, textStatus, errorThrown) {
            console.log("AJAX error when submitting jobs: errorThrown: "+errorThrown+" status: " +xhr.status+" responseText: "+xhr.responseText);

            // show the error in a prominent way
            tab_names.forEach(function(tn) {
              var div = $('#' + tn);
              div.removeClass('alert alert-info');
              div.html("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
              div.addClass("alert alert-danger");
            });
          }
        });


  }

  function set_pressure_selection_disable_flag() {
    var nsteps_input = $("#nsteps-input");
    var select_pressure_steps = $("#select-pressure-steps");
    var pressure_selection_mode = $("input[name='pressure-selection']:checked").val();

    if (pressure_selection_mode === "automatic") {
      nsteps_input.prop("disabled", false);
      select_pressure_steps.prop("disabled", true);
    } else {
      nsteps_input.prop("disabled", true);
      select_pressure_steps.prop("disabled", false);
    }
  }

  // enable all popovers in the document
  $(document).ready(function() {

    var hardness_checkbox = $("#hardness-checkbox");

    $('[data-toggle="popover"]').popover();

    // set value for substrate based on initial value
    $("#substrate-select").val("{{ initial_calc_kwargs.substrate_str }}");

    hardness_checkbox.click( function () {
      var hardness_input = $("#hardness-input");
      if (hardness_checkbox.prop("checked")) {
        hardness_input.prop("disabled", false);
      } else {
        hardness_input.prop("disabled", true);
      }
    });

    // The user should only be able to enter number of steps
    // or a list of pressures, if the related row is activated
    // by the radio button
    $("input[name='pressure-selection']").change( function () {
      set_pressure_selection_disable_flag();
    });
    if ($('#nsteps-input').val().length == 0) {
      // activate manual if nsteps is not given initially
      console.log("nsteps is null");
      $("input[name='pressure-selection'][value='manual']").prop('checked', 'true');
    }
    set_pressure_selection_disable_flag();

    // check checkbox or not, depending on whether there is an initial value for hardness or not
    {% if initial_calc_kwargs.hardness %}
      hardness_checkbox.click()
    {% endif %}


    // enable multiple selection of manually entered pressure steps
    $('#select-pressure-steps').select2({
      multiple: true,
      tags: true,
      allowClear: true,
      maximumSelectionLength: {{ limits_calc_kwargs.pressures.maxlen }},
      language: {
        noResults: null  // do not show "no result" dropdown
      },
      tokenSeparators: [',', ' '],
      placeholder: "Enter positive decimal numbers",
      createTag: function (params) {
        // Don't offset to create a tag if it is no positive number
        var x = params.term.trim();
        console.log("Given: ", x);
        if (isNaN(x)) {
          console.warn("Only numbers are allowed.");
          return null // invalid, because no number
        } else {
          x = parseFloat(x);
          if (x <= 0) {
            console.warn("Number must be positive.");
            return null; // invalid because not positive
          }
        }
        return {
         id: params.term,
         text: params.term
        }
      },
      {#tokenizer: function(input, selection, callback) {#}
      {#  // thanks to editors of https://stackoverflow.com/questions/17197223/is-it-possible-to-paste-a-list-to-a-select2-field-and-match-each-item-in-the-lis#}
      {#  // no comma no need to tokenize#}
      {#  console.log("tokenizer: ", input, selection, callback);#}
      {##}
      {#  var term = input.term;#}
      {#  // if (term.indexOf(' ') <0 ) return;#}
      {##}
      {#  var parts = term.split(/\s+/);#}
      {#  for (var i=0; i<parts.length; i++) {#}
      {#      var part = parts[i];#}
      {#      part = part.trim();#}
      {##}
      {#      // check for dupes (if part is already in [selection])#}
      {#      //if (selection.indexOf(part) < 0) {#}
      {#      //  callback({id:part,text:part});#}
      {#      //}#}
      {#    console.log("Part: "+part);#}
      {#      callback({id:part,text:part});#}
      {#  }#}

    });


    $("#recalculate").click( function() {

        let substrate_str = $('#substrate-select').val();
        let hardness = null;

        let pressure_selection_mode = $("input[name='pressure-selection']:checked").val();
        let nsteps = null;
        let pressures = null;
        let maxiter = parseInt($('#maxiter-input').val());

        let form_ok = true;  // are all entered values within the allowed range?

        if (pressure_selection_mode === "automatic") {
          nsteps = parseInt($('#nsteps-input').val());
          form_ok = form_ok && ((nsteps>={{ limits_calc_kwargs.nsteps.min }}) && (nsteps<={{ limits_calc_kwargs.nsteps.max }}))
        } else if (pressure_selection_mode === "manual") {
          pressures = $("#select-pressure-steps").val().map(parseFloat);
          pressures = pressures.filter(function (p) { return (p!=null) && (p>0)});
          let num_pressures = pressures.length;
          form_ok = form_ok && (num_pressures>=1) && (num_pressures<={{ limits_calc_kwargs.pressures.maxlen }});
        }

        if ($('#hardness-checkbox').prop("checked") == true) {
         hardness = parseFloat($('#hardness-input').val());
        };

        form_ok = form_ok && (maxiter>={{ limits_calc_kwargs.maxiter.min }}) && (maxiter<={{ limits_calc_kwargs.maxiter.max }});

        if (!form_ok) {
          let msg = "Please check your entries, some value seems to be invalid. Allowed limits:\n";
          msg += "{{ limits_calc_kwargs.nsteps.min }}<=number of steps<={{ limits_calc_kwargs.nsteps.max }}\n";
          msg += "1<=number of pressures<={{ limits_calc_kwargs.pressures.maxlen }} (if not given number of steps)\n";
          msg += "{{ limits_calc_kwargs.maxiter.min }}<=max. number of iterations<={{ limits_calc_kwargs.maxiter.max }}\n";
          alert(msg);
          return;
        }


        // debug_msg("Clicked button. substrate: "+substrate_str+" hardness: "+hardness);
        // debug_msg(" nsteps:"+nsteps+" pressures:"+pressures+" ");

        let function_kwargs = { 'substrate_str': substrate_str, 'hardness': hardness,
                                'nsteps': nsteps, 'pressures': pressures, 'maxiter': maxiter};

        $(this).attr("disabled", true);
        $(this).html("Please wait..");
        $.ajax({
          type: "POST",
          url: "{% url 'analysis:card-submit' %}",
          timeout: 0,
          data: {
            function_id: {{ function.id }},
            subjects_ids_json: JSON.stringify({{ subjects_ids_json|safe }}),
            function_kwargs_json: JSON.stringify(function_kwargs),
            csrfmiddlewaretoken: "{{csrf_token}}"
          },
          success: function (data, textStatus, xhr) {
            // debug_msg("Job submission successful. Status: "+xhr.status+" textStatus: "+textStatus);
            if (xhr.status == 200) {
              console.log("Triggering reload of card");
              submit_analyses_card_ajax("{% url 'analysis:card' %}", "card", "detail", {{ function.id }}, {{ subjects_ids_json|safe }}, 0);
              // debug_msg("Triggered card reload. Status: "+xhr.status+" textStatus: "+textStatus);
            } else {
              console.log("Submitting analyses failed");
              var div = $('#contact_area_vs_load'); // show the error in a prominent way
              $(div).html("Triggering calculation failed, status: " + xhr.status + " response:" + xhr.responseText);
              $(div).addClass("alert alert-danger");
            }
          },
          error: function (xhr, textStatus, errorThrown) {
            console.log("AJAX error when submitting jobs: errorThrown: " + errorThrown + " status: " + xhr.status + " responseText: " + xhr.responseText);
            var div = $('#contact_area_vs_load'); // show the error in a prominent way
            $(div).html("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
            $(div).addClass("alert alert-danger");
          }
        });

     });

  });

  </script>
{% endblock card_javascript %}
