{# Needs some keys in context. See AJAX view "PlotCardView" #}
{% extends 'analysis/simple_card_detail.html' %}
{% load analysis_tags %}
{% load fontawesome %}

{% block card_header %}
  <div class="pull-left">
    <h2>{{ title }}</h2>
  </div>
  <ul class="nav nav-pills card-header-pills pull-right">
    {% if special_values or analyses_failure %}{#  we only need the plot pill if there is anything else #}
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#plot" role="tab">Plot</a>
    </li>
    {% endif %}
    {% if special_values %}
    <li class="nav-item" style="list-style-type: none;">
      <a class="nav-link" data-toggle="tab" href="#values">Special values</a>
    </li>
    {% endif %}
    {% if analyses_failure %}
    <li class="nav-item" style="list-style-type: none;">
      <a class="nav-link" data-toggle="tab" href="#failures">Failures</a>
    </li>
    {% endif %}
  </ul>
{% endblock card_header %}


{% block card_body %}

  <div class="row">

    <div class="col-9">
      <div class="tab-content">

        <div class="tab-pane fade show active" id="plot" role="tabpanel" aria-labelledby="card-tab">
          {% for af in analyses_failure %}
            <div class="alert alert-warning">
              {% fontawesome_icon 'exclamation-circle' %}
              Analysis for topography <em>{{ af.topography.name }}</em> failed.
              Press "Failures" for details.
            </div>
          {% endfor %}
          {% for au in analyses_unready %}
            <div class="alert alert-info">
              <div class="spinner"></div>
              Analysis for topography <em>{{ au.topography.name }}</em> not avaliable yet. Please wait..
            </div>
          {% endfor %}
          {% for mt in topographies_missing %}
            <div class="alert alert-warning">
              Analysis for topography <em>{{ mt.name }}</em> not triggered yet. Please trigger if needed.
              {# TODO Provide link to trigger analysis #}
            </div>
          {% endfor %}
          {% if analyses_success %}
            {# Show all analyses for which we have results #}
            {{ plot_div | safe }}
          {% endif %}
        </div>
        {% if special_values %}
          <div class="tab-pane fade" id="values" role="tabpanel" aria-labelledby="values-tab">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Topography</th>
                <th>Quantity</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              {% for topography, quantity, value, unit in special_values %}
                <tr>
                  <td>{{ topography.name }}</td>
                  <td>{{ quantity }}</td>
                  <td>{{ value }} {{ unit }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        {% if analyses_failure %}
          <div class="tab-pane fade" id="failures" role="tabpanel" aria-labelledby="failures-tab">
            {% for af in analyses_failure %}
              <div class="alert alert-warning">
                <p>Analysis failed for topography
                  <a href="{% url 'manager:topography-detail' af.topography.id %}">{{ af.topography.name }}</a>.
                  Traceback:</p>
                <pre>{{ af.result_obj.error }}</pre>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-3">

      <div class="row p-3">
        <div class="col">
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <!-- button area -->
          {% if analyses_available %}
            {% if analyses_success %}
              <a class="btn btn-default btn-block btn-lg"
                 href="{% url 'analysis:download-txt' analyses_success|analyses_results_ids_list_str %}">
                {% fontawesome_icon 'download' %} Download as TXT</a>
              <a class="btn btn-default btn-block btn-lg"
                 href="{% url 'analysis:download-xlsx' analyses_success|analyses_results_ids_list_str %}">
                {% fontawesome_icon 'download' %} Download as XLSX</a>
            {% endif %}
            <a class="btn btn-default btn-block btn-lg" href="#" data-toggle="modal"
               data-target="#statusesModal-{{ card_id }}">{% fontawesome_icon 'tasks' %} Task information</a>
          {% endif %}
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
            <a href="{% url 'analysis:list' %}"
               class="btn btn-default btn-block btn-lg">
              {% fontawesome_icon 'list' %} Back to search results
            </a>
        </div>
      </div>
    </div>

  </div>
{% endblock card_body %}

{% block card_javascript %}

  {% if analyses_success %}
    {# Insert the script code needed for the plot #}
    {{ plot_script | safe }}
  {% endif %}

  {# Additonal code for initialization #}
  <script>

  /** THIS CODE MAYBE USEFUL WHEN ADDING STYLING IN BOKEH CODE, SEE VIEW
    // Apply given colors to labels
    function style_checkbox_labels(card_idx) {
      var topography_colors = {{ topography_colors|safe }};
      var card_selector='#card-'+card_idx;
      var topography_checkbox_labels = $(card_selector+" .topobank-topography-checkbox label");
      // console.log(card_idx, card_selector,topography_checkbox_labels);
      topography_checkbox_labels.each(function (idx) {
           // console.log("CSS "+idx);
           $(this).css('background-color', topography_colors[idx]);
      });
    }
   */
    // $('.bk-widget-box:first label').each(function(idx){$(this).css('background-color', topography_colors[idx]);})
  </script>
{% endblock card_javascript %}
