<div class="tab-pane show active" id="plot-{{ card_id }}" role="tabpanel" aria-labelledby="card-tab">
  {% include 'analysis/analyses_alerts.html' %}
  {% if analyses_success %}
    {# Show all analyses for which we have results #}
    <bokeh-plot unique-prefix="bokeh-{{ card_id }}"
                :data-sources='{{ data_sources|safe }}'
                :categories='[{name:"name", title:"Averages / Measurements"},{name:"series", title:"Data series"}]'
                x-axis-label="{{ x_axis_label }}"
                y-axis-label="{{ y_axis_label }}"
                x-axis-type="{{ x_axis_type }}"
                y-axis-type="{{ y_axis_type }}"
                output-backend="{{ output_backend }}">
    </bokeh-plot>
  {% endif %}
</div>

<script>
  new Vue({el: "#plot-{{ card_id }}"});
</script>
