<div class="tab-pane show active" id="plot-{{ card_id }}" role="tabpanel" aria-labelledby="card-tab">
  {% include 'analysis/analyses_alerts.html' %}
  {% if analyses_success %}
    {# Show all analyses for which we have results #}
    <div id="bokeh-plot-{{ card_id }}"></div>
    <div class="accordion plot-controls-accordion" id="plot-controls-accordion-{{ card_id }}">
      <div class="card plot-controls-card">
        <div id="heading-subjects-{{ card_id }}" class="card-header plot-controls-card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse-subjects-{{ card_id }}" aria-expanded="false"
                    aria-controls="collapse-subjects-{{ card_id }}">
              Averages / Measurements
            </button>
          </h2>
        </div>
        <div id="collapse-subjects-{{ card_id }}" class="collapse" aria-labelledby="heading-subjects"
             data-parent="#plot-controls-accordion-{{ card_id }}">
          <div id="card-subjects-{{ card_id }}" class="card-body plot-controls-card-body">
          </div>
        </div>
      </div>

      <div class="card">
        <div id="heading-series-{{ card_id }}" class="card-header plot-controls-card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse-series-{{ card_id }}" aria-expanded="false"
                    aria-controls="collapse-series-{{ card_id }}">
              Data series
            </button>
          </h2>
        </div>
        <div id="collapse-series-{{ card_id }}" class="collapse" aria-labelledby="heading-series"
             data-parent="#plot-controls-accordion-{{ card_id }}">
          <div id="card-series-{{ card_id }}" class="card-body plot-controls-card-body">
          </div>
        </div>
      </div>
      <div class="card">
        <div id="heading-plot-options-{{ card_id }}" class="card-header plot-controls-card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse-plot-options-{{ card_id }}" aria-expanded="false"
                    aria-controls="collapse-plot-options-{{ card_id }}">
              Plot options
            </button>
          </h2>
        </div>
        <div id="collapse-plot-options-{{ card_id }}" class="collapse" aria-labelledby="heading-plot-options"
             data-parent="#plot-controls-accordion-{{ card_id }}">
          <div id="card-plot-options-{{ card_id }}" class="card-body plot-controls-card-body">
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
