{# Needs some keys in context. See AJAX view "SimpleCardView" #}
{% load analysis_tags %}
{% load fontawesome %}

<div class="card">
    <div class="card-header">
      {% block card_header %}
        {% if analyses_available %}
        <div class="btn-group btn-group-sm pull-right dropdown">

          <button type="button" class="btn btn-default" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-chevron-down"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" data-toggle="modal"
               data-target="#statusesModal-{{ card_id }}">Task information</a>
          </div>
        </div>
        {% endif %}
        <h4>{{ title }}</h4>
      {% endblock card_header %}
    </div>
    <div class="card-body">
      {% block card_body %}
      <ul class="nav nav-tabs">
        <li class="nav-item" style="list-style-type: none;">
          <a class="nav-link active" data-toggle="tab" href="#raw-{{ card_id }}">Raw Results</a>
        </li>
        {% if analyses_failure %}
        <li class="nav-item" style="list-style-type: none;">
          <a class="nav-link" data-toggle="tab" href="#failures-{{ card_id }}">Failures</a>
        </li>
        {% endif %}
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="plot-{{ card_id }}" role="tabpanel" aria-labelledby="card-tab">
          {% include 'analysis/analyses_alerts.html' %}
          {% if analyses_success %}
           {# Show all analyses for which we have results #}
           <table class="table table-striped">
             <thead>
              <th>Topography</th>
              <th>Result</th>
             </thead>
             <tbody>
              {% for a in analyses_success %}
              <tr>
                <td>{{ a.topography.name }}</td>
                <td><details><pre>{{ a.result_obj }}</pre></details></td>
              </tr>
              {% endfor %}
             </tbody>
           </table>
          {% endif %}
        </div>
        {% include 'analysis/analyses_failure_tab_pane.html' %}
      </div>
      {% endblock card_body %}
    </div>
    {% block card_javascript %}{% endblock card_javascript %}
</div>

{% include 'analysis/task_info_modal.html' %}
