{# Include this into cards in order to have a modal view with task information #}

<div class="modal fade" id="statusesModal-{{ card_id }}" tabindex="-1" role="dialog"
     aria-labelledby="statusesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusesModalLabel">Tasks</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% if analyses_available %}
        <small>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Function</th>
              <th scope="col">Topography</th>
              <th scope="col">Further Args</th>
              <th scope="col">Task State</th>
              <th scope="col">Start Time</th>
              <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for analysis in analyses_available %}
              <tr>
                <td>{{ analysis.function.name }}</td>
                <td>
                  <a
                    href="{% url 'manager:topography-detail' analysis.topography_id %}">{{ analysis.topography.name }}</a>
                </td>
                <td>{{ analysis.get_kwargs_display }}</td>
                <td>{{ analysis.get_task_state_display }}</td>
                <td>{{ analysis.start_time|date:"Y-m-d H:i:s" }}</td>
                <td>{{ analysis.duration|default_if_none:"" }}</td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </small>
        {% else %}
          <div class="alert alert-info">
          No analysis triggered for this function and these topographies.
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
