{# Include this into cards in order to have a modal view with task information #}

<div class="modal fade" id="statusesModal-{{ card_id }}" tabindex="-1" role="dialog"
     aria-labelledby="statusesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusesModalLabel">Tasks</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% if analyses_available %}
        <small>
          <table class="table table-hover task-table">
            <thead>
            <tr>
              <th scope="col"><input type="checkbox" id="cb-all-analyses" v-model="toggleAllChecked"  />&nbsp;</th>
              <th scope="col">Function</th>
              <th scope="col">Subject Type</th>
              <th scope="col">Subject</th>
              <th scope="col">Further Args</th>
              <th scope="col">Task State</th>
              <th scope="col">Creation Time</th>
              <th scope="col">Start Time</th>
              <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            {% for analysis in analyses_available %}
              <tr>
                <td><input type="checkbox" id="cb-analysis-{{ analysis.id }}" v-model="selectedAnalyses" :value="{{ analysis.id }}"/>&nbsp;</td>
                <td>{{ analysis.function.name }}</td>
                <td>{{ analysis.subject.get_content_type.model.title }}</td>
                <td class="ellipsis">
                  <a href="{{ analysis.subject.get_absolute_url }}">
                      {{ analysis.subject.name }}
                  </a>
                </td>
                <td>{{ analysis.get_kwargs_display }}</td>
                <td>{{ analysis.get_task_state_display }}</td>
                <td>{{ analysis.creation_time|date:"Y-m-d H:i:s" }}</td>
                <td>{{ analysis.start_time|date:"Y-m-d H:i:s" }}</td>
                <td>{{ analysis.duration|default_if_none:"" }}</td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </small>
        {% else %}
          <div class="alert alert-info">
          No analysis triggered for this function and these subjects.
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        {% if analyses_available and not request.user.is_anonymous %}
          <button class="btn btn-default" type="button"
                  :disabled='triggerDisabled' v-on:click="triggerSelected" >Restart selected tasks and reload</button>
        {% endif %}
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{ analyses_renew_url | json_script:"analyses-renew-url" }}

<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#statusesModal-{{ card_id }}',
    data: {
      analyses_renew_url: JSON.parse(document.getElementById('analyses-renew-url').textContent),
      allAnalyses: [],
      selectedAnalyses: [],
    },
    mounted: function() {
      {% for analysis in analyses_available %}
        this.allAnalyses.push({{ analysis.id }});
      {% endfor %}
    },
    computed: {
      triggerDisabled: function () {
        return this.selectedAnalyses.length == 0;
      },
      toggleAllChecked: {
        // getter
        get: function () {
          return this.selectedAnalyses.length == this.allAnalyses.length;
        },
        // setter
        set: function(checked) {
          if (checked) {
            this.selectedAnalyses = [...this.allAnalyses];
          } else {
            this.selectedAnalyses = [];
          }
        }
      }
    },
    methods: {
      triggerSelected: function () {
        console.log("Triggering analyses "+ JSON.stringify(this.selectedAnalyses) +" ..");

        // Using fetch here is not the best option for doing
        // AJAX calls in VueJS. In the future, we should use "axios".
        $.ajax({
          type: "POST",
          url: this.analyses_renew_url,
          timeout: 0,
          data: {
             analyses_ids: this.selectedAnalyses,
             csrfmiddlewaretoken: csrf_token
          },
          success : function(data, textStatus, xhr) {
             console.log("Retriggered selected analyses. Reloading page..");
             window.location.reload();
          },
          error: function(xhr, textStatus, errorThrown) {
            console.error("Error receiving response for triggering analyses. Status: "+xhr.status
                           +" Response: "+xhr.responseText+ "Error: " + errorThrown);
          }
        });
      },
    }
  });
</script>
