#www.{$DOMAIN_NAME} {
#    redir https://{topobank.$DOMAIN_NAME}
#}

{$DOMAIN_NAME} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        except /media
        timeout 300s
    }
    log stdout
    errors stdout
    gzip
}
