#www.{$DOMAIN_NAME} {
#    redir https://{topobank.$DOMAIN_NAME}
#}

# enable this for test with local certificates
#{
#	local_certs
#}


{$DOMAIN_NAME} {

    tls /etc/caddy/certificate.crt /etc/caddy/private.key

    reverse_proxy django:5000 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
        # Maybe add timeout
        # Maybe exclude directory "media"
    }
    log
    encode gzip
}
