{# Needs some keys in context. See AJAX view "PlotCardView" #}
{% load analysis_tags %}
{% load icon_tags %}

<div id="contact-mechanics-card" class="card search-result-card">
  <div class="card-header">
    {% if analyses_available %}
      <div class="btn-group btn-group-sm float-right dropdown">
        <a href="{% url 'analysis:function-detail' function.pk %}" class="btn btn-default float-right open-btn">
          {% fa5_icon 'folder-open' 'far' %} Open
        </a>
        <button type="button" class="btn btn-default" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <!--
        {% if analyses_success %}
        <a class="dropdown-item" href="#">Download TXT</a>
        <a class="dropdown-item" href="#">Download XLSX</a>
        {% endif %}
        -->
          {% if not analyses_unready %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal"
               data-target="#statusesModal-{{ card_id }}">Task information</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <h5>{{ title }}</h5>
  </div>
  <div class="card-body">
    {% if analyses_failure or extra_warnings %}
      <ul class="nav nav-tabs">
        <li class="nav-item" style="list-style-type: none;">
          <a class="nav-link active" data-toggle="tab" href="#plot-tab-{{ card_id }}">Results</a>
        </li>
        <li class="nav-item" style="list-style-type: none;">
          <a class="nav-link" data-toggle="tab" href="#warnings-tab-{{ card_id }}">Warnings</a>
        </li>
      </ul>
    {% endif %}

    <div class="tab-content">
      <div class="tab-pane fade show active" id="plot-tab-{{ card_id }}" role="tabpanel">
        <div class="tab-pane show active" id="plot-{{ card_id }}" role="tabpanel" aria-labelledby="card-tab">
          {% include 'analysis/analyses_alerts.html' %}
          {% if analyses_success %}
            {# Show all analyses for which we have results #}
            <bokeh-plot
              :plots="contactMechanicsPlots"
              :categories="contactMechanicsCategories"
              :data-sources='{{ data_sources|safe }}'
              :options-widgets="['layout', 'legend', 'lineWidth', 'symbolSize']"
              output-backend="{{ output_backend }}">
            </bokeh-plot>
          {% endif %}
        </div>
      </div>
      {% include 'analysis/analyses_warnings_tab_pane.html' %}
    </div>
  </div>
</div>

{% include 'analysis/task_info_modal.html' %}

{% block card_javascript %}
  <script>
    new Vue({
      el: "#contact-mechanics-card",
      computed: {
        contactMechanicsPlots: function () {
          return [{
            title: "Contact area vs load",
            xData: "data.mean_pressures",
            yData: "data.total_contact_areas",
            alphaData: "data.converged.map((value) => value ? 1.0 : 0.3)",
            xAxisLabel: "Normalized pressure p/E*",
            yAxisLabel: "Fractional contact area A/A0",
            xAxisType: "log",
            yAxisType: "log"
          }, {
            title: "Load vs displacement",
            xData: "data.mean_gaps",
            yData: "data.mean_pressures",
            alphaData: "data.converged.map((value) => value ? 1.0 : 0.3)",
            xAxisLabel: "Normalized mean gap u/h_rms",
            yAxisLabel: "Normalized pressure p/E*",
            xAxisType: "linear",
            yAxisType: "log"
          }]
        },
        contactMechanicsCategories: function () {
          return [{key: "subject_name", title: "Measurements"}];
        }
      }
    });
  </script>
{% endblock card_javascript %}
